[2016-03-05 20:00] dbarrosop opened #1 "Create test for load_template"

[2016-03-06 19:48] #1 closed

[2016-03-06 19:48] dbarrosop opened #6 "Document load_template"

[2016-04-18 14:53] mirceaulinic commented on #6
I was thinking that we could add one extra param: ```eternal_template``` and let the users pass an absolute path to a non-standardized template.  What do you think, @dbarrosop?

[2016-04-18 15:01] dbarrosop commented on #6
I think that you were reading my mind. Was planning to suggest that as well :)

How do you envision this though? Given the name you gave to the variable I think we were thinking in two different implementations. The way I thought about this was as follows:

1. I have my own folder `PATH` where I put all my templates.
2. Each driver has it's own subfolder, ie, `PATH/eos`, `PATH/junos`, etc...
3. Wh

[2016-04-18 15:06] mirceaulinic commented on #6
Yes, exactly! I don't have a schedule it right now, but will make some time probably next week and implement it.

[2016-04-28 16:12] ktbyers opened #25 "Document recommended install procedure"
Given the new split up repositories, the install procedure for NAPALM is not self-evident.

We need to document:

1. Install procedure using pip
2. Install procedure using python setup.py install

Probably cover any differences if installing full NAPALM versus only support for specific platform (i.e EOS/JUNOS/IOS)

[2016-04-28 16:22] ktbyers commented on #25
I would assign this issue to me...but looks like I can't.

[2016-05-03 17:26] dbarrosop opened #26 "Changelog file"
Hello,
from now on we need to maintain a changelog file. It's interesting for several reasons but the main reason I want it is so I can refer to that when releasing a new version instead of having to go through the PRs. The idea os to have something like:

v1.14.0
----------

* #13 [new_method] get_ntp_peers
* #22 [bugfix] blah blah blah
..

I think we should have the following tags:

* new_method

[2016-05-03 17:41] mirceaulinic commented on #26
If we add the milestone isn't helpful?

However, it's not hard of maintain a changelog file (but where is it?). I'm really thinking that maybe would be interesting and easier to use a ticketing system for that instead of editing files. What do you think?

Somehow, we can relate this with my comments on https://github.com/napalm-automation/napalm/pull/244.

[2016-05-05 15:43] dbarrosop commented on #26
Damn it! I replied on the wrong thread!!!

The milestone helped but I still have to copy paste a few times and fix the formatting. An alternative would be to have a changelog message on the PR so at least I have something to copy paste that I don't have to reformat (the title of the PR is not that friendly).

[2016-05-11 00:23] mirceaulinic commented on #6
@dbarrosop I think this one can be closed by now

[2016-05-11 06:46] #26 closed

[2016-05-12 06:19] #6 closed

[2016-05-12 06:21] dbarrosop opened #32 "Testing slack integration"
Disregard, I am just spamming the channel for the sake of testing.

[2016-05-12 06:22] dbarrosop commented on #32
Disregard, I am just spamming the channel for the sake of testing.

[2016-05-12 06:23] #32 closed

[2016-06-15 21:11] jzohrab opened #39 "Design suggestion: use class for returned data structures instead of dict"
Currently the code builds raw dictionaries for the various methods.  The tests check that the dictionaries match napalm_base.test.models structures.

Since the returned data structure is important, these test-only models could be "promoted" to fully-fledged classes of the design domain.  The driver methods could then populate these data structs, and the structs could have a `validate` method to en

[2016-06-15 21:12] jzohrab commented on #39
I'm working on a Nexus method right now, and may use this idea during implementation.  It could perhaps be generalized if the team felt it useful.

[2016-06-16 08:06] dbarrosop commented on #39
It's not a bad idea, the only problem is that we will still have to pretend we are a dictionary to avoid breaking the API. The good thing is that our use case is so simple we should be able to implement a base class to implement everything we need and just have to define attributes and validators.

Feel free to propose something for nexus, I might end up refactoring some of your stuff into a base

[2016-06-16 08:10] dbarrosop commented on #39
Mmmm, my brain is working too fast right now... More than it should be. Another thing we could do instead is leave things as they are and start adding new methods that adhere to OC standard. Then we could use `pyangbing` to do the validation and get the classes. This would be a new set of methods, in addition of `get_bgp_neighbors` we would have `get_oc_bgp_neighbors`.

[2016-06-16 08:10] dbarrosop commented on #39
@mirceaulinic thoughts?

[2016-06-16 09:20] mirceaulinic commented on #39
@jzohrab I see your point and the gain by doing this. Although the tests are pretty fast and they just check if some keys are present and having the correct datatype, would not be overkill to check each and every output?
I do see the benefit of making sure that the output has the exact structure as expected. That makes sense. But I'm just wondering: have you ever seen a different output than desig

[2016-06-16 11:32] dbarrosop commented on #39
I am inclined towards @mirceaulinic line of thought, I do see the value but is it worth the effort? I would rather focus on making new methods that are OC compliant and maybe some day deprecate methods that no longer make sense. If we have a `get_oc_bgp_neighbor` we *probably* don't need a `get_bgp_neighbor`. Some will hardly die, let `get_users` or `get_ntp_peers` but those are simpler methods.

[2016-06-16 13:48] jzohrab commented on #39
It may well not be worth the effort at this point, given the existing amount of implementation that's complete.  For future stuff it may be something to keep in mind.

The existing unit tests check data structure, but don't check actual data mapping.  In my Nexus test, I'll add some extra checks showing what I mean.  It may look like overkill, but it's my preferred way of testing/working and you c

[2016-06-16 14:14] mirceaulinic commented on #39
Sure, I would like to see an working example. Take your time and let us know when you have something available! Thanks for the idea & looking forward for your work!

[2016-06-16 14:17] mirceaulinic commented on #39
Could you please point out what was the issue here? Missing documentation for developers perhaps?

[2016-06-16 14:42] jzohrab commented on #39
Re not clear what was needed - I wasn't sure what the data structure was for get_bgp_neighbors.  I eventually read through the source in napalm_base's base.py, found it was using a model for verification, and found the model in napalm_base/test/models.py.  The test code in the nsox driver didn't say anything about expected return values, given inputs.  Eventually I ran through a test in another dr

[2016-06-16 15:02] mirceaulinic commented on #39
You mean the [output structure](http://napalm.readthedocs.io/en/latest/base.html#napalm_base.base.NetworkDriver.get_bgp_neighbors) was unclear?

[2016-06-16 15:04] mirceaulinic commented on #39
I find it pretty clear, also in terms of input params (see [get_bgp_config](http://napalm.readthedocs.io/en/latest/base.html#napalm_base.base.NetworkDriver.get_bgp_config) where the input params are very briefly described too). Definitely we may improve it if not obvious enough for devs.

[2016-06-16 15:15] dbarrosop commented on #39
Yeah, the structure is defined in napalm-base. Whats not clear? What would
you suggest changing? It should be even documented in RTD.
On Thu 16 Jun 2016 at 17:04, Mircea Ulinic <notifications@github.com> wrote:

[2016-06-16 15:18] jzohrab commented on #39
Well, I feel like a dork. :-P  Don't judge me @mirceaulinic and @dbarrosop !  :-)

[2016-06-16 15:40] mirceaulinic commented on #39
That's fine, can happen.
Can share your experience, why haven't you found the right doc -- not obvious where to look, not emphasised enough? If you had this problem, others might have it too. Probably we should include somewhere a note to point exactly to the resources for devs.

[2016-06-16 15:49] jzohrab commented on #39
Probably a link on the main readme, taking devs to a simple page like the following:

- here is how you build the project
- here is how you run the tests locally
- here is the 50,000-foot architectural overview (i.e. a few paragraphs/diagrams describing major classes and interfaces etc) - not too deep, just enough docs
- here are the docs for the methods
- here are our style guidelines and testing

[2016-06-17 10:23] dbarrosop commented on #39
@jzohrab don't worry, we weren't trying to nail you, just looking how to improve it. I agree with you that we are lacking some instructions, we are still waiting for Matt to finish their proposal so we can see how to document things best, his proposal might change how some things are done today so no point on documenting yet... What about the skeleton? Do you think that covers some of the topics y

[2016-06-17 16:01] inetuid opened #40 "Add peer router id into get_bgp_neighbors_detail()"
At present the remote peer router id is only available in the output of get_bgp_neighbors() and not in get_bgp_neighbors_detail().

@dbarrosop suggested that get_bgp_neighbors_detail()[my_vrf][my_neigh_ip] could be used to get this information (slight typo I think, probably should be get_bgp_neighbors()[my_vrf][my_neigh_ip]) but that supposes that you have the VRF information available (or else yo

[2016-06-17 23:07] mirceaulinic commented on #40
I can add the peer router id information for all devices supporting ```get_bgp_neighbors_detail``, no problem.

[2016-06-18 11:40] dbarrosop commented on #40
How else are you supposed to do it? You need to know what you are looking for or loop through the data. I actually realized that `get_bgp_neighbors_detail` and `get_bgp_config` are flawed by design as I just realized they don't support VRF. We will have to revisit that.

[2016-06-18 23:08] jzohrab commented on #39
Let's see what Matt delivers, and then I can contribute some initial dev docs that we can iterate on.

[2016-06-23 19:11] inetuid commented on #40
Not sure if the docs reflect reality, but for get_bgp_neighbors() the docs say

so that suggests its VRF aware.
.

[2016-06-27 11:18] mirceaulinic commented on #40
Indeed ```get_bgp_neighbors``` does, but ```get_bgp_neighbors_detail``` does not, although it should. But this will be probably fixed soon and both will have VRF support!

[2016-06-27 11:18] mirceaulinic commented on #40
Thanks @inetuid for raising this issue!

[2016-06-30 19:43] narJH27 opened #43 "napalm-base fails during install"
napalm-base fails during installation. Errors are as below:

  `Searching for pyangbind
Reading https://pypi.python.org/simple/pyangbind/
Best match: pyangbind 0.5.4
Downloading https://pypi.python.org/packages/e3/6c/28ab8289531e83540f886d1708bc6952667c49fe7e0d127a486ba41a3de3/pyangbind-0.5.4.tar.gz#md5=dcce61a1174c7a03e557e9b60800f961
Processing pyangbind-0.5.4.tar.gz
Writing /tmp/easy_install-Ye

[2016-06-30 20:23] #43 closed

[2016-07-01 17:51] inetuid opened #44 "textfsm_extractor converts all entries to string"
At line 117 of napalm_base/helpers.py the following code converts everything to a string:

`entry[fsm_handler.header[index].lower()] = str(entry_value)`

This includes lists that can be returned from the template. I suggest it changes to the following:

`entry[fsm_handler.header[index].lower()] = entry_value`

Matt.

[2016-07-01 17:59] mirceaulinic commented on #44
I not not recall why it is string. Most probably I had some reasons, but I can't remember this particular detail.
What driver are you using? I would need you to confirm a detail.

[2016-07-01 20:56] inetuid commented on #44
It's not a 'standard' driver - I'm working on a generic Linux driver (with the idea of layering Cumulus on top) and I'm just making use of the helper in 'base'.

If I can help by confirming the detail please let me know.

[2016-07-01 21:09] mirceaulinic commented on #44
Very interesting!
As I said earlier, I am sure I had something in mind by doing so, but I don't know what. Looking at the implementation, indeed it does not look right to restrict the datatype.

If you can provide any example of input + template would be great. Also a PR would be also appreciated and I will test all napalm drivers that make use of this helper.

[2016-07-03 08:28] inetuid commented on #44
See #45

[2016-07-03 09:10] inetuid opened #46 "Cumulus Linux driver / Linux base driver thoughts"
I've been thinking about how to approach writing a driver for Cumulus Linux. This is a bit of a brain dump of where I am at present...

The getters() are relatively trivial as it's just a matter of parsing the relevant Linux commands. This made me think the best option maybe to start with a base Linux driver that any Linux based NOS could inherit from just adding any specifics on top.

The configu

[2016-07-03 17:20] dbarrosop commented on #46
Agree. Even easier than that, we could just have a Linux driver with some defaults (quagga for routing, for example) and use the "optional_args" in case someone wants to change it to bird or some other.

Regarding the configuration bits. The idea I had is to wrap on a json file what we want to do. For example:

https://gist.github.com/dbarrosop/bfe6dd28cf68a2f5c38afe05456c0d69

- `service` is the

[2016-07-06 17:35] inetuid commented on #46
I think it could work. I'm a bit reticent on just using configuration to change behaviour (even though this is the vogue in software development at present) as it works when the actions can be directly mapped but is challenging where you actually need to run some code as well. You could pass a callback to do the work but then that's not much different to subclassing it. I'm struggling with issues

[2016-07-07 10:56] inetuid opened #50 "advertise_prefix_count or advertised_prefix_count in get_bgp_neighbor_detail()"
The napalm_base/test/models.py uses advertise_prefix_count whereas the documentation (http://napalm.readthedocs.io/en/latest/base.html) uses both. It would seem more natural for it to be advertised_prefix_count to match received/accepted/suppressed etc but it would be good to confirm which it is.

[2016-07-07 11:00] mirceaulinic commented on #50
It's a typo indeed, the value is ```advertised_prefix_count```.

[2016-07-07 18:20] inetuid opened #52 "get_mac_address_table() and 'bridge domains'"
I'd like to start a discussion on whether get_mac_address_table() should be extended to support bridge domains rather than the current single table (albeit with VLANs). This would be analogous to VRFs for IP routing related functions.

My proposal would be for the outer dictionary key to be the bridge domain and the inner list would be the same (or similar) to the current output. Something like

[

[2016-07-07 18:32] mirceaulinic commented on #52
Hi @inetuid - would be nice to have a method doing that. But not the current ```get_mac_address_table```, a different one.
I will give you an example: in the past we had only```get_lldp_neighbors```; later we added ```get_lldp_neighbors_detail``` which is just a more complete version, let's say. Basically the difference is tiny between them. But we decided to keep both to not broke the existing be

[2016-07-07 18:38] inetuid commented on #52
If my device doesn't nicely support get_mac_address_table() but did support get_bridge_domain_mac_table()* would it be reasonable to return NotImplementedError for the former to avoid returning partial or incorrect information?

Matt.

* Not necessarily my proposed name.

[2016-07-07 18:42] mirceaulinic commented on #52
Absolutely, not all the drivers need to implement ```get_mac_address_table``` (e.g. IBM or FortiOS do not implement it).
```get_bridge_domain_mac_table``` sounds OK for me.

[2016-07-07 18:55] dbarrosop commented on #52
Is there an OpenConfig model for that? Any new method we implement should follow the OC model if it exists.

[2016-07-07 18:57] inetuid commented on #52
In terms of naming, the 'standard' seems to be MAC learning table, forwarding database, or just FDB - name should probably reflect one of these.

[2016-07-07 19:00] inetuid commented on #52
Had a look and OC seem to have a L2VSI network type but no corresponding model for what it should contain.

[2016-07-08 08:35] #50 closed

[2016-07-08 08:58] inetuid opened #53 "Generic 'instance' awareness"
There have been some recent discussion about supporting VRFs in get_bgp_neighbors_detail() and bridge domains in get_mac_address_table() but these are not the only methods where there is potential missing support for some form of instance (routing, bridge etc).

I suggest that get_arp_table(), get_interfaces_ip(), get_route_to(), ping() and traceroute() should also be instance aware (or other meth

[2016-07-08 13:25] dbarrosop commented on #53
Those are probably too much changes and I don't want to break the API so three things:

1. Worst case, for most methods we can have a vrf/instance argument and return data for that vrf/instance. That will give you instance awareness without breaking the API. We will have to document which method/drivers support this though, which might be boring and tedious but doable.
2. New methods that just wra

[2016-07-08 13:35] dbarrosop commented on #52
I am going to see if I can bring this to the people behind OC and see if this is something we can define and then implement.

[2016-07-08 21:09] inetuid commented on #53
Assuming that the OC model delivers something usable in a reasonable timescale, I'd also say this has the best future proofing. Other than being aware of it, I've not really followed progress on OC - is it likely to deliver something any time soon?

Otherwise, the option to pass in a VRF/instance to existing methods would fill the requirement. It would need some way of enumerating the VRFs/instanc

[2016-07-11 12:33] mirceaulinic commented on #44
This issue can be closed now.

[2016-07-12 07:48] #44 closed

[2016-07-12 22:34] narJH27 opened #56 "Method to retrieve light levels from optics installed"
This is a feature request.

It would be nice to have a method implemented across the various vendor drivers, such that light levels, ie, tx power and rx power, can be retrieved from the optics attached to the ports on the switch.

Is this something that is on the roadmap for napalm?

[2016-07-12 22:41] mirceaulinic commented on #56
I think I've seen this request a couple of months ago - don't remember exactly where.

It would be interesting indeed, but I don't have it on my roadmap.

Do you have any output structure in mind? You can open a PR to discuss if interested.

[2016-07-13 04:51] narJH27 commented on #56
I am working on modeling this. I will open a PR to discuss it once I have something tangiable to show for.

[2016-07-13 10:02] dbarrosop commented on #56
There was a proposal long ago but it led nowhere. Here it is in case it's useful:

napalm-automation/napalm#139

However, moving forward new getters should comply with the OC model unless there is no model. In this particular case this seems like a good candidate:

https://github.com/openconfig/public/blob/master/release/models/platform/openconfig-platform-transceiver.yang

As this is completely k

[2016-07-13 10:04] mirceaulinic commented on #56
<img width="776" alt="screen shot 2016-07-13 at 11 03 40" src="https://cloud.githubusercontent.com/assets/16694679/16799586/853b17f4-48e9-11e6-8a98-82881f472899.png">
That's helpful 😄

[2016-07-13 10:16] dbarrosop commented on #56
It was just for reference, we should use the OC model anyway.

[2016-07-13 10:17] mirceaulinic commented on #56
Sure, I was just trolling the previous "proposal"

[2016-07-13 15:39] narJH27 commented on #56
@dbarrosop Sure David! It would be great if you could define a model based off of OC and we can discuss that before any code is written around it.

[2016-07-15 13:37] dbarrosop commented on #56
The model part should be easy, the tricky part is going to be adding the OC framework in napalm-base. But I will try to get something mocked over the weekend so you can work on the parsing side while I put the OC framework together.

[2016-07-15 15:47] narJH27 commented on #56
sounds like a plan!

[2016-07-17 01:18] dbarrosop commented on #56
I am still trying to figure out what's the best way to do this. However, the `dict` that your object will have to return will be something like this:

[code]

There is an explanation of the attributes here:

https://github.com/openconfig/public/blob/master/release/models/platform/openconfig-platform-transceiver.yang

[2016-07-18 16:15] narJH27 commented on #56
@dbarrosop Thanks for putting that together!

I am still curious as to whether the vendors support such granular information from the transceivers, ie, instant power, avg power, min/max power? The only info I have been able to find using cli commands on the vendor boxes thus far, is tx and rx power in Watts. Can you please help understand your thoughts behind the same?

[2016-07-18 16:20] dbarrosop commented on #56
The idea is that the models should work with any network device, that includes optical switches so those will most surely give more information. Nobody expect to have all the values on all the devices. For example, you can find this note on the definition:

A benefit of using OC vs building our own is that a lot of people is thinking how to structure those models so I guess the result will be less

[2016-07-18 16:35] narJH27 commented on #56
Oh I completely understand the intent behind Openconfig and its applicability in the industry moving forward. Was curious to know your thoughts on the values that are not readily available from the vendors themselves. Thanks for clarifying that!

[2016-07-18 16:53] dbarrosop commented on #53
Quick update; the OC team is working on this. There is already a proposal but due to holidays the approval is being slower than usual.

[2016-07-18 16:55] monrad opened #57 "The cryptography module in Debian Jessie does not work"
I tried using Napalm on a freshly installed Debian Jessie box and got the following error:
[code]
After trying `from napalm_junos import junos` that @dbarrosop told me to try I got:
[code]
And after uninstalling the Debian provided module and installing from PIP it now works.

[2016-07-18 16:59] dbarrosop commented on #57
NOTE: slightly edited your original comment

The issue here is that the dynamic loader is hiding the traceback and hinting that napalm_junos might not be installed. We should fix this so errors like these are propagated to the user.

[2016-07-19 15:33] narJH27 commented on #56
@dbarrosop I was looking at the proposed data model for this again, and was wondering what the 'physical_channels' and 'channel' values for a regular SFP port on a IOS/IOSXR, Junos or Arista Switch would be?

[2016-07-19 16:54] dbarrosop commented on #56
rule of thumb; if you have no idea what means use 0 as that's the default : )

[2016-07-20 17:49] narJH27 commented on #56
Created a PR #58

[2016-07-26 21:29] dbarrosop opened #61 "Fix setup.cfg and requirements.cfg files"
Relates to napalm-automation/napalm-base#280

Add `setup.cfg` and `requirements-dev.txt` file with the following content:

* `setup.cfg

[code]

* `requirements-dev.txt`

[code]

[2016-09-07 20:11] natm opened #64 "Increment napalm package version for each release"
We have experienced service deployment issues when new napalm packages are released, but the package version number is not incremented.

I would like to pin our deployments to a particular napalm release until we have tested it, but with large changes being included without the version be incremented this is problematic.

An example of this is where napalm-panos was added as a package dependency t

[2016-09-07 22:09] dbarrosop commented on #64
Could you elaborate on the issue, please? I am not sure I understand the issue you describe, `pip` doesn't allow you to publish new code without increasing the release and as you can see [here](https://github.com/napalm-automation/napalm-base/releases) each release has a different version. The same applies for the rest of the drivers.

And here is the release that added `panos` to the "all-in-one"

[2016-09-09 17:53] dbarrosop opened #65 "add get_config()"
Original ticket napalm-automation/napalm#291 created by @grizz
### Add a function to get the full config as a text blob

Would obviously be platform specific, but would be handy for using NAPALM for development and device changes.

[2016-09-09 23:01] alejandrosalinas opened #66 "Proposal: Add firewall-management functionality to NAPALM"
Hi guys, in many occasions network teams are not only responsible for switches/routers operation but also for other devices such as firewalls (or at least the way they connect/integrate with the network). I'd like to know what you guys think of adding firewall support to NAPALM. I envision this in two possible flavors:

- Regular network-device calls applied to firewalls such as show route/interfa

[2016-09-10 11:01] dbarrosop commented on #56
Closing this one : )

[2016-09-10 11:01] #56 closed

[2016-09-10 11:06] dbarrosop commented on #25
Looks like there is another issue tracking this napalm-automation/napalm#284

[2016-09-10 11:06] #25 closed

[2016-09-10 11:09] dbarrosop commented on #40
Can we close this one?

[2016-09-11 19:19] dbarrosop commented on #65
The description of the method can be found here:

https://github.com/napalm-automation/napalm-base/pull/69/files

Thoughts?

[2016-09-11 19:22] dbarrosop commented on #65
@grizz let me know if this proposal looks good to you.

[2016-09-12 07:01] dbarrosop opened #70 "Add `__version__` at the module level"
The goal is to be able to do something like:

[code]

See the following commit for details:

https://github.com/napalm-automation/napalm-base/pull/80/files

[2016-09-12 07:08] dbarrosop commented on #61
Pinging @napalm-automation/council

What do we want to enforcer and what do we don't want to? Let's first decide what we want to achieve and then let's build a baby steps to achieve it. Might make sense to enable things one by one and enforcing rather than just dropping these files.

[2016-09-12 07:51] dbarrosop commented on #66
Hello @alejandrosalinas ,
thanks for your proposal. Comments below:

We already have support for Palo Alto devices and SRXs (as those are just regular JunOS).  What I mean with that is that if you want to implement, let's say ASA, feel free to do it. We have nothing against adding support for firewalls. `napalm-base` contains the methods that are already decided so you can implement a driver with

[2016-09-12 08:13] dbarrosop opened #71 "Add ISSUE_TEMPLATE"
Create the file:

`.github/ISSUE_TEMPLATE`

With the following content: https://gist.github.com/dbarrosop/f056b131eddd1777ff77e1ec8ab79964

[2016-09-12 11:04] grizz commented on #65
Looks good, thanks for stubbing it in. I wonder if it would be better to pass a flag to determine which configs to get since it can take a while on some platforms?

[2016-09-12 17:31] ktbyers commented on #61
@dbarrosop Here is what I am currently using for my NAPALM pylama.ini that I am 100% compliant with (on ios.py):

[code]

pep257 (docstring formatting is just too over the top on the OCD; mccabe c901 is too much work to comply with...basically I am not going to do a large amount of code refactoring to comply with mccabe complexity).

You might also want to exclude some directory in the setup.cfg (

[2016-09-12 17:43] ktbyers commented on #61
My argument against getting rid of PEP257 is that we are currently ignoring the warnings (including warnings that are more important than docstring formatting):

For example:
pylama -o ../pylama.ini eos.py | wc -l
170
pylama -o ../pylama.ini iosxr.py | wc -l
287

Also I think it has to be enforced as part of the PR submission process in some way (whatever 'lint' standard we agree on).

Basically,

[2016-09-12 18:14] dbarrosop commented on #61
So, a few things:

1. First of all I am good if we decide to remove something, that was mostly a proposal trying to spark some discussions.
2. We should agree on what we want, not what we can support today.
3. Finally we should do baby steps until we get to where want to go.
4. The end goal is that travis enforces whatever we decide on every PR, yes. For example, if we decide to go with pylama it'

[2016-09-12 19:12] ktbyers commented on #61
Line length of 100 sounds good. Will update (assuming agreement on this).

I will also probably try to start enforcing this in the travis file shortly.

[2016-09-13 08:40] dbarrosop commented on #61
Great! I am good with your proposal. I have updated the issue accordingly. Let's wait until tomorrow to see if someone else has something to say.

[2016-09-13 15:55] dbarrosop opened #73 "Adding CONTRIBUTING.md and PULL_REQUEST_TEMPLATE.md files"
See details in the parent issue napalm-automation/napalm#297

[2016-09-14 12:19] dbarrosop commented on #61
I am assuming this one is good, let's implements what's in the body of the issue : )

[2016-09-16 19:39] GGabriele opened #83 "Operational validation method(s)? #hackathon2016"
I was wondering if it may make sense to have some operational validation capabilities into NAPALM, like having the possibility to run `device.validate("bgp")` and check if everything looks as expected.

If it's cool, what do you think may be something _good_ to validate? BGP peers, reachability, LLDP peers..?

[2016-09-16 19:41] ktbyers commented on #83
@GGabriele I think it could be interesting to make this more general. By this I mean have a 'command' you can run and a ruleset you can run the output of the command against to say whether it validates or not.

I did this where it was validating the running-config and the ruleset had a pretty simple engine that stated whether something had to be in the config or could not be in the config.

[2016-09-16 19:45] dbarrosop commented on #83
Could you show an example on how it would work? I am not sure if I understand what you mean. Just fake everything, pretend the code is there, and show how it would work on the console ; )

[2016-09-16 19:53] GGabriele commented on #83
@dbarrosop my original idea was to support the validation of a set of features. Let's imagine you want to validate BGP peers, `validate()` would search for a source of truth (YAML file?), load the expected BGP peers status and check if there is a match with `get_bgp_neighbors` result.

But I like what @ktbyers proposed and I'm trying to think about it.

[2016-09-16 20:01] ktbyers commented on #83
Just thinking out loud here...

validate_getters = ['get_config']                  # will validate what is returned by get_ operation
validate_files = {
    'get_config': 'get_config_validation.yml'
}

#### example rules in .yml file #####
config_requires:           # items the config must have
    - enable secret *
    - service password-encryption

interface_set:           # define sets of inter

[2016-09-16 20:03] ktbyers commented on #83
Basically, would be the equivalent of unit tests for configuration and the values returned by NAPALM getters.

[2016-09-16 20:12] GGabriele commented on #83
Exactly. I was first thinking it as more related to getters, but it will definitely be useful for configuration too.
Thanks for your hints @ktbyers !

[2016-09-16 20:45] itdependsnetworks opened #84 "Add method to copy file"
For the hackathon, was looking at adding the functionality to copy files to a device with NAPALM.

[2016-09-16 21:49] dbarrosop commented on #83
Ok, makes sense. Cool thing about that is that if it's generic enough it can either be part of napalm-base or even live completely outside of napalm. Anyway, feel free to mock it and let's see how it ends up looking : )

[2016-09-16 22:39] dbarrosop opened #85 "Missing import on `cl_napalm_configure.py`"
[code]

[2016-09-17 08:08] dbarrosop commented on #84
How would that work? Do you mean using the `copy` command inside the devices or being able to transfer files from your local machine to the device?

[2016-09-17 12:11] GGabriele commented on #83
So far I have this for getters (tested with NXOS):

Sample `validate.yml` file:
[code]

Sample CLI workflow:
[code]

Sample results:
[code]

It will print `Expected but not found: X` if the dict value is a list, while it will print something like `Expected 'X', found 'Y' instead` if the dict value is a dict/unicode/int.

[2016-09-17 14:05] inetuid commented on #52
Don't think this ever reached a final conclusion. Should a raise a PR for this new method or does it depend on the outcome of the OpenConfig work as per #53?

[2016-09-17 19:41] dbarrosop commented on #52
This somehow got forgotten, I have created an issue to keep track of it openconfig/public#30

[2016-09-17 19:44] dbarrosop commented on #53
If you don't mind I am going to close this issue. I think it makes complete sense but we can't break the API by doing those changes on existing methods. So I would suggest start working on the OC models and implement what you suggest as we move forward. Feel free to reopen this issue if you think it needs further discussion.

[2016-09-17 19:59] inetuid commented on #53
Agreed that extending a number of existing methods is not good. Let's close and see where the OC methods/model takes us.

[2016-09-17 19:59] #53 closed

[2016-09-18 08:07] dbarrosop commented on #83
That's great, note that the new testing framework has a method to compare objects. We could probably unify those. Let's discuss it when you send the PR

[2016-09-18 08:20] GGabriele commented on #83
That's cool, I'm working on the config part now. It's really good that we're going to have `get_config` on all drivers as it will be really helpful for this.

[2016-09-18 09:54] #85 closed

[2016-09-18 12:35] mirceaulinic commented on #40
Yes, the latest release contains these details now. We can close this issue.

[2016-09-18 13:12] #40 closed

[2016-09-18 13:54] dbarrosop commented on #64
I am going to close this one. Feel free to reopen if you think this is unanswered.

[2016-09-18 13:54] #64 closed

[2016-09-18 13:58] dbarrosop opened #99 "Migrate tests to new testing framework"
References:

http://napalm.readthedocs.io/en/develop/development/testing_framework.html

napalm-automation/napalm-eos#47
napalm-automation/napalm-base#94

[2016-09-30 23:16] lubon commented on #66
I actually was contemplating about this topic, but the work to get this done is quite extensive..
Just to represent the data for the changes would be a hard nut to crack.
You have to consider how the firewall is deployed (L2/L3/bump-in-wire/context/..)
as well as what is to be filtered or translated or inspected (mac/ipv4/ipv6/NAT/IPS/..)
and how it is to be defined (IPs/objects/group of objects/g

[2016-10-02 14:20] mirceaulinic opened #105 "Enhancement: Add neighbor_address argument for get_bgp_neighbors"
Without changing the current behaviour, the argument would increase the performances of the ```get_bgp_neighbors``` method. If not passed or empty/null, will return everything.
Of course we can retrieve everything and filter, but this is not optimal when there's a very high number of neighbors and you need only the operational data only for a specific peer:

PoC:

Without ```neighbor_address```:

[2016-10-02 15:02] mirceaulinic opened #106 "Add is_enabled key in the output structure of get_bgp_config"

[2016-10-02 16:39] dbarrosop commented on #105
I guess that should will have to specify both the VRF and the IP you want to filter on. Other than that tiny detail, sounds good to me.

[2016-10-02 16:53] mirceaulinic commented on #105
Updated the title. @dbarrosop can you please spread this issue on junos, iosxr and eos drivers? I still have some problems with the napalm-tools although I set the env token...

[2016-10-02 16:56] mirceaulinic commented on #105
And actually I think we should add the vrf arg also for ```get_bgp_neighbors_detail```

[2016-10-02 20:53] dbarrosop commented on #105
Let's take a look tomorrow and try to fix it tomorrow. It should work : (

That would break the API and I'd rather not. Hopefully we will have a method like that based on YANG models soon.

[2016-10-03 01:49] mirceaulinic commented on #105
What would be the difference - I think it would make more sense to have both consistent:

[code]

and

[code]

doesn't it?

[2016-10-03 08:51] dbarrosop commented on #105
Well, what do we do today. Return from global? Return all of the neighbors regarding their VRF? I'd actually replace `vrf=None` with `vrf="global"`.

[2016-10-03 13:52] mirceaulinic commented on #105
No, from all VRFs.

If we do this, by default will retrieve data only from the default VRF, which means will change the current behaviour, hence will break the API.

[2016-10-05 10:29] dbarrosop commented on #105
Mmmm, ok, let's do it then.

[2016-10-05 10:33] dbarrosop opened #107 "Pin napalm-base driver"
Make sure we set the latest `napalm-base` version as part of the requirements. The idea is that avoid breaking the guts of the driver without noticing (by changing an internal helper function or the testing framework or something like that).

[2016-10-05 10:48] dbarrosop opened #108 "Testing framework should raise an issue if a public method is not tested"
To make sure we have the proper napalm-base version we should make sure all public methods of a driver where called at least once during the testing phase.

[2016-10-05 11:12] dbarrosop opened #109 "Python 3 support"
See details in the parent issue napalm-automation/napalm#199

[2016-10-16 21:44] ktbyers commented on #107
I think this is done. The 'snmp', 'iosxr-rpc,' and 'yang' drivers, there is nothing to do. I would close those, but don't have rights.

cc: @dbarrosop @mirceaulinic

[2016-10-16 23:47] mirceaulinic commented on #107
Thanks a lot @ktbyers

[2016-10-16 23:47] #107 closed

[2016-10-17 08:18] dbarrosop commented on #107
@ktbyers not sure what's going on. You have exactly the same permissions as @mirceaulinic so you should be able to close it as he is. The only difference I can see between his user and yours as the he has 2FA enabled. Not sure if github limits functionality for non-2FA-enabled users. Could you try enabling 2FA and check if you can now close issues?

[2016-10-17 17:09] ktbyers commented on #107
@dbarrosop Okay, I have enabled 2FA. I will see if I have any issues going forward.

[2016-10-23 15:32] ktbyers commented on #109
Adding notes regarding pinning napalm-base to 0.17.0.

napalm-ios = DONE
napalm-junos = DONE
napalm-iosxr = DONE
napalm-ros = DONE (as no version of napalm-ros ever released)
napalm-eos = develop, not master
napalm-nxos = develop, not master
napalm-panos = develop, not master
napalm-fortios = develop, not master
napalm-pluribus = develop, not master
napalm-ibm = develop, not master

[2016-10-24 13:58] dbarrosop commented on #109
https://github.com/napalm-automation/napalm-fortios/pull/18

[2016-10-25 09:12] dbarrosop commented on #109
napalm-eos and napalm-fortios are done.

[2016-10-25 15:03] mirceaulinic opened #111 "Question: add argument `format` for `load_(merge|replace)_config`?"
At the time being, all config format supported by NAPALM is only ```text```. This is not a problem for OS such as IOS-XR, IOS or EOS, but for JunOS that allows few other formats, e.g.```set```, ```xml``` or ```json``` this constraint becomes a bit uncomfortable.
Right now, for JunOS the format is bespoken as ```text```: https://github.com/napalm-automation/napalm-junos/blob/develop/napalm_junos/ju

[2016-10-25 15:55] ktbyers commented on #111
@mirceaulinic Could we infer it from the filename so we didn't have to change the load_merge/replace_candidate definition.

It is nice to have consistency of arguments across platforms (or at least minimize any inconsistency).

[2016-10-25 16:00] mirceaulinic commented on #111
Sure, we can. But the user can also load the config using the ```config``` argument, e.g.:

[code]

I was thinking to propagate this change on all drivers (although most of them won't use this argument at all).

[2016-10-25 16:04] ktbyers commented on #111
Good point, yes I like the idea of supporting set and XML formats on Junos, but I think we should maintain argument consistency (at least so the other drivers would accept the argument even if they didn't do anything with it).

[2016-10-25 16:34] mirceaulinic commented on #109
Also napalm-ibm and napalm-pluribus. Is there anything else we should do before merging https://github.com/napalm-automation/napalm-base/pull/104?

[2016-10-25 16:35] mirceaulinic commented on #109
Oh yes, of course: napalm-nxos!

[2016-10-25 16:36] ktbyers commented on #109
Yep, napalm-nxos is the last one that I see.

[2016-10-25 16:39] mirceaulinic commented on #109
I set the deadline for milestone 0.4.0 for this Friday (hopefully it's a realistic one): https://github.com/napalm-automation/napalm-nxos/milestone/4 as there are two important issues to be addressed.

[2016-10-25 16:45] mirceaulinic commented on #70
I think we can close this one - napalm-iosxr-rpc will be solved when released.

[2016-10-25 16:45] #70 closed

[2016-10-26 08:02] dbarrosop commented on #111
I almost go a stroke... First off, what's the benefit of supporting one format or the other? XML and text has feature parity so it just becomes a "tabs vs spaces" discussion. And in my opinion, adding an argument to a method for the sake of just one driver defeats napalm's agnosticity. I'd be less reluctant if we would pass this as part of an optional argument when creating the object but I still

[2016-10-26 08:04] dbarrosop commented on #111
I would be fine with this as well.

[2016-10-26 08:06] dbarrosop commented on #109
Yay! We are so close : )

[2016-10-26 09:10] mirceaulinic commented on #111
Flexibility. Actually I do not see any logical reason why we would have this constraint, when the devices have this capability.

Nope, it's about providing the users the features they need rather than restricting them to our personal likes or dislikes.

We'll make the embedded templates unusable as they have ```text``` format only.

ATM yes, napalm-junos is the only driver. But napalm-iosxr-rpc wi

[2016-10-26 10:38] dbarrosop commented on #111
Flexibility is great but it has to serve a purpose other than personal preferences.

Features the need or they want? Because that's two different things and that's why networking sucks. That's why we have stub areas, not so stubby areas and all of those wanker knobs. Vendors need to be able to deploy configuration, they don't need to be able to deploy the same snippet of configuration in 'text', '

[2016-10-26 10:45] dbarrosop commented on #111
I don't want to start here a flame war, I suggest we focus first on the real technical benefits of doing this (including `iosxr-rpc`) trying to put personal preferences aside, then decide if we want to proceed based on that information and then how to proceed.

[2016-10-26 10:53] mirceaulinic commented on #111
That's daylight clear, nobody has this intention :) But we can discuss and eventually change it for the better.

Alright, don't want to be misunderstood: this library does and should not depend on any externals. But I will give you the example of my colleagues that are able to select all devices running Junos and load a couple of config lines, without loosing their eyes in curly brackets (as force

[2016-10-26 13:28] dbarrosop commented on #111
Not sure what you mean with that. Care to elaborate? Are you implying xml is easier for people to deal with than json-like syntax? Which again, it's a personal preference, not a technical reason.

How is that different from parallel ssh? Why can't you build that same tool with an optional_arg that tells the tool you want to use XML for that particular session?

That was a workaround for embedded t

[2016-10-26 14:08] mirceaulinic commented on #111
No, I mean the difference between text and set:

- text:

[code]

- set:

[code]

Do you see what I mean now? Can you follow the curly brackets with ease?

Also: I think this annoying ```text``` format does not allow the very handy ```copy```, ```insert before```, ```insert after```, ```move```, ```rename``` or ```replace``` features - I did not find a way. And I searched! Only this argument I thi

[2016-10-26 14:24] dbarrosop commented on #111
Sure,  but if you want to run ad-hoc commands, why aren't you using the `run_commands` method?

It can be done, there is feature parity. Here is an example:

https://github.com/dravetech/network-tutorials/blob/master/tutorial-6-abstractions/roles/ipfabric/templates/junos/ipfabric.j2#L4

Templates can have any extension so we can accommodate the extension.

See above.

I don't think this use case r

[2016-10-26 14:33] mirceaulinic commented on #111
Not sure what you mean... what is ```run_commands``` again?

Again, because the templates would become unusable
See above.

I think we are going circles here. So you'd prefer a hack rather than keeping things simple, right?

All I can see is that you are trying to force defining all templates in ```text``` type format.

CLI supports show-type commands only. Are you still on topic?

If we want to r

[2016-10-26 15:13] dbarrosop commented on #111
Ok, I am going to back out for a second. I am going to try to summarize your use case, give you the reason why I was a bit reluctant to your use case, why I think there is still value on supporting it and propose a solution.

**Use case**: Use napalm to write a tool to run adhoc commands on devices. You could easily write this tool with `pyez` because you don't need/want any vendor abstraction cap

[2016-10-26 15:39] mirceaulinic commented on #111
Not a separate tool, as would be pointless to use something else, when another process has already a session already open and waiting for you to deliver data. But yes, running arbitrary commands when needed, against devices, grouping them by vendor/OS.

To give a bit more of context, is when you need to configure something very quick and straightforward. Dummy example:

[code]

And that's how we s

[2016-10-27 09:51] dbarrosop commented on #111
[code]

Looks good to me.

For the particular case of `junos` we can just do the following:

[code]

We can revisit this later on if we get a more interesting use case but for the sake of yours I think it makes more sense the proposed solution. It also give us some other nice features that people has commented on in the past.

[2016-10-27 12:08] mirceaulinic opened #114 "Question: default values"
I have noticed another inconsistency in terms of default values when some fields cannot be filled with a corresponding value (for various reasons, e.g.: not provided by the vendor, inconsistent value - sometimes , for the same field a stupid vendor returns str or int etc.).

When this happens, we need to return a value though. For string is pretty obvious - returning empty value; for bool I think

[2016-10-27 12:13] mirceaulinic commented on #114
And using the ```py23_compat```https://github.com/ktbyers/napalm-base/blob/ae9b04e6b4d85d56fdd9c9e64b782af44bb16ddd/napalm_base/utils/py23_compat.py  would be even better I guess.

[2016-10-27 15:53] ktbyers commented on #114
The default values should be defined in the getter documentation (in napalm-base) and then enforced by the unit tests (if they matter). In other words, where ever we define what the getter should return is where the default values should be specified.

If I was writing a getter, that would be where I would look. In general, I don't really like importing things from napalm-base (for very minor thin

[2016-10-27 16:11] mirceaulinic commented on #114
Totally makes sense, agreed it would be easier.

I see your concern, but I don't consider this as a real issue as anyway napalm-base is a dependency.

I was thinking something more like:

[code]

And you don't need to look anywhere, the ```convert``` function will try to convert to ```float``` and if it fails, will return the default value for this datatype.

[2016-10-27 16:33] mirceaulinic commented on #57
@dbarrosop do you think we can kick off on this issue, or should we wait till https://github.com/napalm-automation/napalm-base/issues/109 is merged?

[2016-10-27 16:47] ktbyers commented on #114
@mirceaulinic It is not about dependencies. It is about code readability.

Having to go look up napalm_base.helpers.convert() to figure out what you are doing is IMO worse, than the problem. Once you know the pattern it is fine, but looking at the above code without an existing context I would be surprised that the convert() method would typecast a string to a float with a value of '-1'.

Also the

[2016-10-27 16:53] mirceaulinic commented on #114
@ktbyers Can't agree more. Let's see what @dbarrosop thinks about that - he has a better idea with classes.

[2016-10-27 21:54] mirceaulinic commented on #111
@dbarrosop I just realised that we discussed so much about that and we missed an essential detail - basically we were unable to see the woods because of the trees.

By definition the method ```load_merge_config``` itself cannot be vendor agnostic. All existing arguments make it like that. You cannot pass the same argument (either ```config```, either ```file```) across all drivers by no means. The

[2016-10-28 01:46] ktbyers commented on #111
[code]

I think this is conflating the arguments from the value of the arguments. The arguments are the same what the contain is different.

What if we do the following?

[code]

If "filename" infer the type from the filename extension. Follow juniper conventions here.

If "config", then default to 'conf'. If you want to support a different type, add a header string as a juniper comment or as a st

[2016-10-28 09:32] mirceaulinic commented on #111
Yes, we all agreed on this - that's somehow natural.

In principle this sounds good.

But how do you define those comments and make sure that loading on the device won't fail even if they still remain there?

I tried:

[code]

Doesn't seem to like.

The way you can introduce comments on Junos is:

```annotate <stanza> "<your comment>"```

[code]

[code]

And introducing a requirement like that, I'

[2016-10-28 10:02] dbarrosop commented on #111
That would be a valid reason and I would love to support xml and set modes if that's true. I have used napalm with JunOS as old as 12.x without any problem but that doesn't mean much. Actually, all my demos are running firefly which is based off 12.1 and never run into issues with replace or merges and even partial replaces work flawlessly. Do you think you could get more information?

In any case

[2016-10-28 10:14] mirceaulinic commented on #111
I will do it step by step, with a trivial example.

Say ```config_format``` is the optional arg in cause.

[code]

And will be two errors, out of three loaded lines:

- unknown command: system
- unknown command: host-name

Is the failure of a feature we currently have enough technical reason @dbarrosop?

[2016-10-28 10:29] dbarrosop commented on #111
i don't know at this stage if you are jus trolling me or what ;) You keep coming to this issue. I still don't understand why you think this will be an issue. As I said previously, we can infer the type by the extension file as @ktbyers suggested, we can also make sure the `load_template` uses the correct type ourselves as we provide both the code and the template... we can do many things to make s

[2016-10-28 10:35] mirceaulinic commented on #111
Yes... unfortunately I think there are too many things to do to avoid this:

- enhance the ```load_template``` helper to handle different formats, would probably be something like ```<template_name>.<config_format>.j2```, e.g.: ```set_hostname.text.j2```
- propagate this into all drivers and rename all files
- for junos provide the same functional template in different formats: ```set_hostname.set

[2016-10-28 10:39] mirceaulinic commented on #111
No, we don't provide the template - only some small ones.

How about:

File is called: ```/path/to/my/template/junos/templates/my_custom_template.j2```

[code]

Or would you like to do:

[code]

where file is: ```/path/to/my/template/junos/templates/my_custom_template.set.j2```?

[2016-10-28 10:47] dbarrosop commented on #111
I suggest the following:

1. We rename our template to `name_of_template.text`. We don't really need the `j2` extension for any reason whatsoever.
2. We patch `JunosDriver._load_candidate` to use either the extension of the file or the `config_format` in case the configuration was passed in the `config` argument or the extension of the file is generic so we can't infer anything.

This will give us

[2016-10-28 10:51] mirceaulinic commented on #111
True

Sounds good, indeed would be much easier like that.

[2016-10-28 10:58] dbarrosop commented on #111
Ok, I just realized it's not that simple because of this:

https://github.com/napalm-automation/napalm-base/blob/develop/napalm_base/helpers.py#L62

We will have to find a way of fixing that. Probably replacing that line with some helper method that tries to find the template trying different extensions.

I think we got a nice idea to solve this. I suggest to close this issue, open another one wit

[2016-10-28 11:07] mirceaulinic commented on #111
https://github.com/napalm-automation/napalm-base/blob/develop/napalm_base/helpers.py#L62

Yes, but I guess would not be that hard to adjust.

I think so too :)

Not at all urgent - all the ideas I am exposing these days are just some small features for the very long run anyway - BTW I'm not done yet, I still have a couple, sorry.

Sure, will do it later today.

[2016-10-28 11:12] dbarrosop commented on #111
Thanks! My priority right now is the YANG and testing frameworks so I have my hands full with just that.

[2016-10-28 11:48] mirceaulinic opened #115 "Question: dry-run and debug mode for the load_template method"
Yet another proposal from my series of small handy features.

When using the `load_template` method, you know the template structure, but sometimes the result may be unknown, unexpected etc. and you don't know where to start looking from.
At the end of the day it is just a piece of software and the question `Why this shit does not work? Is should!` will come up sooner or later.

Whilst using it, I

[2016-10-28 12:12] DiogoAndre opened #116 "Use unicode instead of str in models.py"
Most models in [models.py](https://github.com/napalm-automation/napalm-base/blob/develop/napalm_base/test/models.py) are already using `unicode` instead of `str`.  `users` and `config` are still using `str`, as bellow:

[code]

Shouldn't we just use `unicode` wherever any kind of text return is expected?

I bumped into this when implementing the `get_config` method for IOS. The [TestIOSDriver.py](

[2016-10-28 12:35] jedelman8 commented on #111
BTW, this is something we (@ggabriele) tried to do too when PANOS was being built too :)

It's very Juniper-like and IIRC, load_replace_candidate can only be XML and load_merge_candidate can only be set syntax.  Using file extensions would be nice, but think Gabriele ended up just inferring what it was and raising an error so the user would know if it wasn't correct.

[2016-10-28 12:45] mirceaulinic commented on #116
Hi @DiogoAndre,

There's no reason why it is ```str```, other than _mistake_.

We are already planning some changes in the structure of the models and the datatypes: https://github.com/napalm-automation/napalm-base/pull/104 and this will be also covered.

[2016-10-28 14:08] ktbyers commented on #116
@DiogoAndre Yes, this issue is all fixed with Python3 support (i.e. all strings become unicode) so it will go away when napalm-base has Py3 support which should be soon.

[2016-10-29 22:38] mirceaulinic opened #117 "Implement `run_commands` method"
As per https://github.com/napalm-automation/napalm-base/issues/111, in order to ease the execution of arbitrary commands (both oper and config type) on devices grouped by vendor/os, we will need to implement a new method `run_commands`.

The body should be similar to:

[code]

[2016-10-29 22:45] mirceaulinic opened #118 "Enhance `load_template` helper to load config format based on the filename"
In https://github.com/napalm-automation/napalm-base/issues/111 we have identified the need to make the helper function ```load_template``` more flexible in terms of config format, depending on the filename.

In order to achieve this, we'll need to include the format type in the filename. Otherwise, by default will be ```text```.
If the template format is different than what the user specifies in t

[2016-10-29 22:57] mirceaulinic commented on #111
Opened https://github.com/napalm-automation/napalm-base/issues/117 and https://github.com/napalm-automation/napalm-base/issues/118 as per discussion in this thread.
Additionally: https://github.com/napalm-automation/napalm-junos/issues/70 and https://github.com/napalm-automation/napalm-junos/issues/71 as napalm-junos is the only NAPALM driver that currently needs some slight adjustments.

[2016-10-29 22:57] #111 closed

[2016-10-29 22:58] #116 closed

[2016-10-31 00:12] ktbyers opened #119 "napalm-base __version__ broken in release (reporting napalm-ios version)"
napalm-base is reporting napalm-ios version (in released version)

[code]

[2016-10-31 09:42] dbarrosop commented on #57
Maybe it's better to wait, this is not super urgent and will make rebasing easier.

[2016-10-31 09:56] dbarrosop commented on #114
So, I had also been thinking about this due to the YANG work I am [slowly] doing. I think the best solution is something like this:

1. `None` for not yet populated methods.
2. `constants.NotSupported` for unsupported methods. `constants.NotSupported` should also evaluate `False`.

That way we could do things like:

[code]

Does this make sense?

[2016-10-31 10:06] dbarrosop commented on #115
* `debug` That should probably be a best practice in general, use `logging.{debug, info, critical}` statements in key places and let uses configure those with env. variables or tweaking the logging configuration in their code. So I wouldn't use that as part of the signature but as part of the libraries in general. For example, it could be useful to print the raw data we are using for the getters i

[2016-10-31 10:25] mirceaulinic commented on #115
Sorry about dry-run. I got a bit confused looking at our version - you are perfectly right, this is how it is today.

I agree, this would be better. Definitely from a software dev perspective would make more sense. But from an unexperienced CLI user, sometimes it is more useful to see real-time what the method tried to load, rather than looking in the logs and trying to figure out what actually ha

[2016-10-31 10:29] dbarrosop commented on #119
Fixed in #120

[2016-10-31 10:31] #119 closed

[2016-11-01 11:28] mirceaulinic commented on #109
napalm-nxos 0.4.0 released - I think everything is prepared now

[2016-11-01 16:11] mirceaulinic commented on #109
Closed via https://github.com/napalm-automation/napalm-base/pull/122

[2016-11-01 16:11] #109 closed

[2016-11-08 12:14] dbarrosop commented on #117
I knew there was something like this already:

https://github.com/napalm-automation/napalm-base/blob/develop/napalm_base/base.py#L546

[2016-11-10 20:59] mirceaulinic commented on #117
Yes and would be reused in ```run_commands``` to execute raw operational commands.

[2016-11-10 21:01] mirceaulinic commented on #117
I guess to do so we'd need to add one extra argument, which is the same discussion we had in https://github.com/napalm-automation/napalm-base/issues/111 but for a different method...

[2016-11-10 21:18] mirceaulinic commented on #114
@dbarrosop I understand you propose to return -1 as default for int (which implies -1.0 for float). Totally agree - actually that was my biggest concern (should be -1 or 0, and I was also tempted to pick the first).
For the rest (bool, text_type or list) is trivial.

Few questions:

- the checks you presented above should be made at the end of the method, before returning the output? Or an externa

[2016-11-17 11:51] mirceaulinic opened #133 "`get_ntp_servers` not tested"
I was looking at the coverage results for `napalm-junos`: https://coveralls.io/builds/8872086/source?filename=napalm_junos%2Fjunos.py
and noticed there's no test for `get_ntp_servers` in https://github.com/napalm-automation/napalm-base/blob/develop/napalm_base/test/getters.py

[2016-11-17 12:11] #133 closed

[2016-11-17 16:29] mirceaulinic opened #137 "Implement `is_alive` method"
https://github.com/napalm-automation/napalm-base/pull/128

[2016-11-18 10:34] mirceaulinic commented on #115
As per our slack conversation, this is moot - no need to do it :)

[2016-11-18 10:34] #115 closed

[2016-11-18 15:34] bewing opened #138 "Errors in get_network_instances"
There is an issue in the model:  route_descriptor is incorrectly referenced instead of route_distinguisher.

In the test, we incorrectly attempt to iterate over the keys instead of key/value.

[2016-11-18 16:03] #138 closed

[2016-11-18 19:17] ktbyers opened #143 "load_template improvements"
Here are some improvements to load_template() I think we should make.

1. Support 'replace' operation. I would propose that we add a mode='merge' / mode='replace' parameter.

2. Have it behave properly if you specify 'my_template.j2' currently it will look for 'my_template.j2.j2'.

3. Be able to load templates from current working directory (as long as we can make this work in a reasonable way wit

[2016-11-18 19:17] ktbyers commented on #143
cc @mirceaulinic

I can work on these, I just wanted a placeholder so I remember things that I saw.

[2016-11-19 00:19] mirceaulinic commented on #143
I'm into this.

Funny one :) Yes, we should definitely avoid this.

They all sound good to me @ktbyers! Thanks!

[2016-11-20 13:03] dbarrosop commented on #143
The idea behind this was that you would specify you want the `ntp` template, so it wasn't really meant to be a file. That's why the `.j2` was added by the method.

If you load the template `blah.j2` in your current folder, that code is gonna be bound to the vendor for which you wrote the template for. If you want to add another vendor later on, your code will have to be adapted. What's wrong with

[2016-11-20 14:11] dbarrosop commented on #114
Sorry for the late resposne.

Those were just examples to show use cases, not really meant to be tests or anything.

[2016-11-20 14:12] dbarrosop commented on #117
Yeah, I am fine with that. Just let's make sure the default behavior doesn't change and that's it.

[2016-11-21 14:43] vincentbernat opened #144 "Allow to not set a password"
Hey!

When using SSH key, asking for a password is not needed. Also, with an appropriate SSH configuration, we shouldn't override the user either. I suggest to set the default user to `None` if possible (for JunOS, py-eznc will use the current user if it doesn't find anything better).

[2016-11-21 14:56] mirceaulinic commented on #144
Hi @vincentbernat - we had a similar discussion some time ago: see https://github.com/napalm-automation/napalm-panos/pull/23#discussion_r85711073

I am into allowing the authentication using SSH key, but in the same time we need to keep in mind that NAPALM must be flexible across all drivers (including those that do not allow SSH key and other features).

Unfortunately your proposal to allow usern

[2016-11-21 14:59] dbarrosop commented on #144
Ssh keys work out of the box, at least for junos, just specify the correct username, and set the password as empty. The key will be picked by the underlying driver automatically. Custom locations for ssh keys are currently not supported though.

[2016-11-21 15:40] vincentbernat commented on #144
Yes, in fact, I noticed that after. I can set `--password ""` and everything works as expected. I understand the rationale. Let's close this bug.

[2016-11-21 15:40] #144 closed

[2016-11-21 15:44] vincentbernat commented on #144
As for SSH keys, in the case of the JunOS backend, this can be provided with:

 - the proper entry in `~/.ssh/config` (or a file specified with `ssh_config` parameter)
 - the `ssh_private_key_file` option

Maybe it would be nice to have something unified for all backends, but as far as I am concerned, I would expect all backends to be able to use `~/.ssh/config` (which can be used easily with Para

[2016-11-21 15:54] dbarrosop commented on #144
Yeah, I agree with you and it should work as you explain. Otherwise, feel free to open a new issue so we can take a look.

[2016-11-22 00:44] ktbyers commented on #143
The advantage I see is since a lot of platforms copy Cisco for configuration, you could potentially use the same template across multiple platforms (without resorting to symlinks).

The method was confusing when trying to use it as it took several tries to figure out how to get it to work (i.e. the most logical expectation was you could specify 'my_file.j2' and it would look in current working dir

[2016-11-22 08:31] dbarrosop commented on #143
That the documentation could be improved nobody doubts it :(

[2016-11-22 09:44] Mierdin opened #145 "Get rid of "print" in base.py"
I am working on a StackStorm pack for NAPALM (more on that later! :smile:) and my sensor is designed to check on a few devices periodically for changes. In this case, a connection failure is perfectly normal, and I'd like to keep the stackstorm logs clean of such an event. However, [this shows](https://github.com/napalm-automation/napalm-base/blob/master/napalm_base/base.py#L76) that the "catch-al

[2016-11-22 09:57] dbarrosop commented on #145
Wut! How cool is that!? : )

The print there is to encourage users finding exceptions that we are not normalizing to open an issue. If you prefer to use the logging subsystem or just change the print so it goes to stderr instead I am fine with that : ) I just didn't want to manipulate the original `Exception`.

[2016-11-27 11:11] dbarrosop opened #148 "Build napalm documentation automatically"
There is some work going on to build the getters support matrix automatically. For more information:

https://github.com/napalm-automation/napalm/pull/324

However, there are a few requirements to accomplish that goal:

1. Migrate all the drivers to the new testing framework; #99
2. Add to all drivers on `.travis.yml`:

[code]

[2016-12-17 11:54] dbarrosop opened #166 "Tox"
See details in the parent issue napalm-automation/napalm#327

[2016-12-22 06:31] mirceaulinic commented on #114
I am looking at this and not only that I don't remember what I understood, but I'm still not sure what you mean @dbarrosop?

[2016-12-22 06:36] mirceaulinic opened #172 "`optional_args` for some commands"
As discussed this is going to be for the very long term, when we'll have proper documentation.

Opening this to keep tracking of features to be implementing.

This closes https://github.com/napalm-automation/napalm-base/issues/117 as we can add the `optional_args` to the existing `cli()` method.

[2016-12-22 06:36] mirceaulinic commented on #117
Closing as per https://github.com/napalm-automation/napalm-base/issues/172

[2016-12-22 06:36] #117 closed

[2016-12-23 04:50] mirceaulinic opened #174 "Enhance `get_route_to`"
Two proposed additions:

- arg `vrf`
- `next_hop_type` key inside the output dict

[2016-12-23 11:02] dbarrosop commented on #114
haha! The idea was to use custom objects to indicate the state of a value rather than encoding it on the value:

1. `None` for not yet populated variables, so they have to be populated.
1. `constants.NotSupported` for unsupported variables. `constants.NotSupported` should be a singleton that also evaluates `False`.

[2016-12-26 10:20] XioNoX opened #178 "Unclear error message"
While trying the new compliance_report class with PR175, PR176 and the ping method on junos, I stumbled upon this error:
[code]
After talking to dbarosso, I realized that the ping method wasn't implemented yet on the Junos driver.

Maybe this error could be more explicit on what is going on?

[2016-12-26 11:20] XioNoX opened #180 "compliance_report doesn't support several ping targets"
Currently, if the validate.yml file contains several ping statements

[code]
The end result will only consider one of the two:
[code]

It would be useful to be able to test many different ping tasks for a given host. The same might apply to traceroute.

[2017-01-01 18:19] #148 closed

[2017-01-01 18:20] #83 closed

[2017-01-01 18:36] #178 closed

[2017-01-01 20:06] dbarrosop commented on #180
@napalm-automation/council

I see two options here:

1. Replace the key with a name. Something like:

[code]

2. composing the keys to be able to add a key (separting command and description with two `_`:

[code]

I personally prefer the second option but I am open to suggestions/opinions.

[2017-01-03 23:17] mirceaulinic opened #182 "Proposal: new `community` branch"
We sometimes see people asking about features that are not quite cross-vendor, such as EIGRP, CDP or FEX.
Of course (and I'm already seeing David typing the reply) this is against the NAPALM philosophy - I totally agree with this. But at the same time I do see the value added having these features.
I personally know people using `napalm-junos` just because it's way easier to just execute `pip inst

[2017-01-04 00:16] mirceaulinic commented on #180
@dbarrosop I do find the first option _much_ cleaner. I personally want to avoid hacks as in the second one.

[2017-01-04 08:54] dbarrosop commented on #182
Using your examples:

* CDP is just another way of getting neighbors so it should be integrated with `get_lldp_neighbors`. If LLDP is not enabled, fallback to CDP on devices that support it.
* EIGRP, why do you need a method for that? It will depend on what you want to do. If you want to get routes we could easily add support to the protocol on `get_route_to`

In any case, I'd rather try to make t

[2017-01-04 09:38] mirceaulinic commented on #182
Yes, this sounds sane to me.

Before closing this topic, where do you think it would be the right place for the tests? I think we could extend the local tester, under the driver implementing the method in cause.

[2017-01-04 09:54] dbarrosop commented on #182
Mmmm, I think I'd need to do some tests here on how to best do it. I think it makes sense to have them on a dedicated file on the driver itself. Let's do something, first time we have a vendor-specific method implementation we do it against a branch and we see how to best integrate it with the testing framework and how to generate the documentation automatically.

[2017-01-04 10:30] mirceaulinic commented on #182
Yeah.. this might be pretty problematic.

I was thinking now also about documentation: as this is triggered based on the methods tested with the tests from napalm-base, I think we should do the same with driver-specific getters. As of today we consider all methods that have the prefix `get_`, we could as well test also `$driver_` and generate doc. Do you think that would be a bit overkill?

[2017-01-04 10:36] dbarrosop commented on #182
Yeah, that's exactly why I wanted to name them `$driver_get`. It works for humans and machines. It will not be difficult to integrate and have a separate table generated automatically.

[2017-01-04 10:37] mirceaulinic commented on #182
Ok cool - in that case I don't have any further questions here :)

[2017-01-04 10:37] #182 closed

[2017-01-04 14:55] WilliamMarti opened #183 "Adding functions for get_eigrp_config() and get_eigrp_neighbors()"
So today there are the following methods in napalm-base

`get_bgp_neighbors()`
`get_bgp_config()`

In the network I support we are heavy EIGRP users and could use similar functionality.  I think this comes back to a larger discussion from slack and [here](https://github.com/napalm-automation/napalm-base/issues/182), talking about vendor specific protocols.  So my proposal is to add:

`get_eigrp_ne

[2017-01-05 10:28] dbarrosop commented on #183
Yeah, I think those methods are fine. Is this something you are looking for to implement yourself?

[2017-01-05 10:45] dbarrosop commented on #180
There are actually two reasons I like the second method:

1. Most methods don't require a name as it doesn't make sense to execute two time `get_facts` or `get_bgp_neighbors`. Name only makes sense on methods that uses arguments.
2. Using `ping__blah` serves as a key on the report as well.

Maybe we can do someting like:

[code]

And then in the report us the `_name` as a subkey if present. For ex

[2017-01-13 13:32] pkleanthous opened #184 "Proposal: NAPALM Development Kit"
## Abstract

This proposal discusses the contribution of creating a Development Kit (DK).
The NAPALM development kit will contain all the tools you need to develop and test your network infrastructure.

### Testing Jinja2 Templates

As a first step, I have created a PoC of how we can test jinja2 templates based on a given input and an expected output. Here you can find the [repo](https://github.co

[2017-01-14 03:05] haderp commented on #46
I don't know if this is still on the radar, but Cumulus has added a command line utility with 3.2.0 that solves most of the issues discussed here.

[2017-01-16 10:34] dbarrosop commented on #46
Yeah, I think that's a great addition and we should be able to add a driver for cumulus based on that CLI. Any volunteers? ;)

[2017-01-16 11:07] GGabriele commented on #46
I'm tempted :) unless @haderp does have a plan to work on it.

[2017-01-16 14:15] haderp commented on #46
@ggabriele I have no plan, but I'd like to help. Full disclosure, I'm an network engineer, not a programmer, and I will definitely have questions and need guidance, but I can contribute on the bulk of the driver.

[2017-01-16 14:21] GGabriele commented on #46
@haderp working on a driver from scratch is a great way to improve your development skill! :)

[2017-01-16 14:46] haderp commented on #46
@GGabriele There's no way I can do it on my own, but if you want to take the lead on it, and divvy out the work, I am onboard.

[2017-01-16 14:57] itdependsnetworks commented on #46
If I may interject here. @haderp It can be helpful if you can take the primary methods and describe how they are done via CLI with examples.

e.g.
Config. replace
Config. merge
Compare config
Atomic Changes
Rollback

Once those are known, it will be a bit easier to program it.

[2017-01-16 18:23] dbarrosop commented on #46
Yeah, I think it would be great if @GGabriele could bootstrap the driver as there are some considerations around napalm and then the rest is just a matter of translating CLI commands into python : ) @haderp if you know how that CLI works your help will be surely appreciated even if you don't know python. You can always help out describing how to implement the methods as @itdependsnetworks  mention

[2017-01-16 23:19] haderp commented on #46
I can get the commands, expected output, and start translating some of them.
I am new to github. What's the proper way to post it all?

[2017-01-17 08:11] dbarrosop commented on #46
Wait until @GGabriele bootstraps the driver (if he finally volunteers ;) ). Then the best way is probably creating issues (one per method) on the driver's repo and then adding as much info there as possible and/or sending a PR for method.

[2017-01-17 08:20] GGabriele commented on #46
@haderp @dbarrosop let's do that :)

@haderp are you on Slack?

[2017-01-17 19:55] haderp commented on #46
@GGabriele I am.

[2017-01-18 08:21] dbarrosop commented on #184
I think it's really interesting. If you don't mind, I am going to leave this open. I am now working on having support for yang/OC models in napalm. One interesting features I want to have is to translate those models to native configuration so this testing framework will be a great addition to test that works as expected.

[2017-01-22 17:42] jmrenshaw commented on #46
I'm interested in helping out as well, similarly to @haderp I am far from a proficient coder but happy to start with adding info to the issues and go from there.

[2017-01-23 12:00] dbarrosop commented on #46
The napalm-automation/napalm-cumulus has been created. Let's take any discussion there from now on. Feel free to comment/open issues. People testing, coding (code doesn't have to be super pretty and PRs are a great way of learning) or just helping with the necessary commands to implement certain methods are welcome :)

[2017-01-23 12:00] #46 closed

[2017-01-28 21:44] alias454 opened #189 "Napalm cisco-ios fails to login"
Trying to setup napalm on a CentOS 7 VM to do some SaltStack testing and I not able to connect to the ios device from the cli. I can ssh to the device and login, but when using napalm, it doesn't work using cl_napalm_test.

I installed napalm using the following procedure
yum install gcc libffi-devel python-devel openssl-devel
yum install python2-pip
pip install --upgrade pip
pip install napalm

C

[2017-01-28 21:45] bewing commented on #189
Is your MOTD banner actually "MOTD Banner", or is there something in there that may have confused prompt detection?

[2017-01-28 21:56] alias454 commented on #189
The banner is is actually MOTD banner
banner motd ^CMOTD Banner^C

[2017-01-28 22:05] ktbyers commented on #189
@alias454 What happens when you execute this Netmiko script against the device:

[code]

[2017-01-28 22:12] alias454 commented on #189
That seems to work

[code]

[2017-01-28 22:21] mirceaulinic commented on #108
Can we close this one @dbarrosop? Is there anything else you'd like to add?

Thanks!

[2017-01-28 22:25] mirceaulinic commented on #137
This has been implemented on all existing drivers.

[2017-01-28 22:25] #137 closed

[2017-01-28 22:32] mirceaulinic commented on #99
All existing drivers have been migrated.

[2017-01-28 22:32] #99 closed

[2017-01-28 22:34] mirceaulinic commented on #65
This has been implemented on all drivers, except IBM - which we consider deprecated.
So this is fixed IMO.

[2017-01-28 22:34] #65 closed

[2017-01-28 22:38] mirceaulinic commented on #52
@inetuid for the moment we could introduce the following API change: the method `get_arp_table` to accept an argument `bridge_domain`. While this is not going to solve the problem, it allows the user switch between domains.
Please let me know if that suits your needs!

[2017-01-28 22:40] mirceaulinic commented on #183
Hi @WilliamMarti - are you still interested in this?

[2017-01-30 00:44] XioNoX commented on #180
Note that this needs to be applied to at least "get_route_to", "traceroute", and most likely others.

[2017-01-30 10:16] dbarrosop commented on #39
Regarding the main topic, using classes instead of dicts. With the OC effort going on I think this is not relevant anymore. Feel free to open new issues if you think there is something else we should discuss,

[2017-01-30 10:16] #39 closed

[2017-01-30 10:44] #108 closed

[2017-01-30 10:45] dbarrosop commented on #114
I guess we can close this one, right?

[2017-01-30 11:24] mirceaulinic commented on #114
Yes, we can close.

[2017-01-30 11:24] #114 closed

[2017-01-30 12:44] dbarrosop opened #190 "Test compliance_report with Yang models"

[2017-01-30 13:02] dbarrosop commented on #180
@XioNoX can you review #191?

[2017-01-30 13:38] dbarrosop commented on #52
The OC people fixed it on their end a few months ago:

https://github.com/openconfig/public/commit/15b0137f7261515f6527bdd443bee4ad9f9cf63f

Maybe we can close this one and use the OC framework?

[2017-01-30 13:40] mirceaulinic commented on #52
Perfect, let's do this then!

[2017-01-30 14:03] dbarrosop commented on #52
I will close it then, sorry this is going so slow : (

[2017-01-30 14:03] #52 closed

[2017-01-30 14:17] dbarrosop commented on #52
Btw, feel free to open an issue on the `napalm-yang` if this is something you are still interested in.

[2017-01-30 18:05] ktbyers commented on #189
@alias454 What version of Netmiko are you using?

[code]

[2017-01-30 18:06] ktbyers commented on #189
Note, I made some improvements in the develop branch of Netmiko that might help with the issue.

https://github.com/ktbyers/netmiko/commit/a03638c1a2447204841bbd62af2d9c8d7b8ff60c

[2017-01-30 21:49] XioNoX commented on #180
@dbarrosop works fine for me!
Thanks

[2017-01-31 08:56] dbarrosop opened #195 "Generalize YANG API"
More generic extractors allowing profiles. For example, replace:

[code]

Replaced by:

[code]

[2017-01-31 08:57] dbarrosop opened #196 "YANG extractor should be able to define how to get data"
We should be able to pass to the extractor from the model extraction file how to retrieve the data.

[2017-02-01 01:21] WilliamMarti commented on #183
Apologies, totally fell off my radar.

Yes I would like to implement this.  I will get working on the PR for napalm-base now.

[2017-02-01 02:06] mirceaulinic commented on #183
@WilliamMarti no problem at all - just checking

[2017-02-01 09:26] dbarrosop commented on #183
This looks good in principle, I would like to see an initial implementation though before approving and merging.

[2017-02-05 02:04] #195 closed

[2017-02-05 02:12] #196 closed

[2017-02-06 08:01] XioNoX commented on #180
After more testing, it seems like if there are several getters used with a different `_name`, it will only execute (or at least display) one.

For example if I define:
[code]
The output after running it through the ansible module will be:
[code]
And thus, the one with `_name: vpn-v4` isn't present.

[2017-02-07 00:30] XioNoX opened #201 "RegEx validate not working"
From https://github.com/napalm-automation/napalm-base/pull/176

I tried to use:
[code]
With different variations of hostnames:
`fw1[a|b].private.lon2`, `fw1[ab].private.lon2`, `fw1\[ab\].private.lon2`
And with and without quotes, with no luck.

The result is always:
[code]

[2017-02-07 06:19] XioNoX commented on #201
@dbarrosop @mirceaulinic
Digging a bit, more, it doesn't reach [line 124](https://github.com/napalm-automation/napalm-base/blob/master/napalm_base/validate.py#L124) as it tries to compare a list of dicts, instead of going deeper and comparing the actual values.
Printing `src` and `dst` from [line 127](https://github.com/napalm-automation/napalm-base/blob/master/napalm_base/validate.py#L127) shows:

[2017-02-07 21:32] dbarrosop commented on #201
Mmm, problem here is that there is no list of dictionaries. Are you using some modified version? Like the one proposed on #202?

[2017-02-07 21:38] XioNoX commented on #201
That list of dict is different from #202, here it's the list of neighbors returned for a specific interface.

[2017-02-07 21:42] dbarrosop commented on #201
Ok, I see what you mean. This threw me off:

[code]

Feel free to open a PR but add some test case so we can see it works, please.

[2017-02-08 02:11] XioNoX commented on #201
Opened PR https://github.com/napalm-automation/napalm-base/pull/203

[2017-02-10 00:59] #201 closed

[2017-02-12 00:36] mirceaulinic opened #207 "`get_interfaces_ip`: add `primary_ip` key"
Ref: https://github.com/napalm-automation/napalm-base/pull/206

[2017-02-12 00:38] mirceaulinic opened #208 "`get_interfaces_ip`: add `primary_ip` key"

[2017-02-12 00:38] #208 closed

[2017-02-13 12:57] kderynski opened #209 "optional_args are not forwarded correctly from CLI tools"
I have noticed that there is an issue with `optional_args` forwarded from CLI based tools (`cl_napalm_test` and `cl_napalm_configure`). I have checked it against junos driver with fresh install of napalm version 0.23.0 (tested on macOS and ubuntu 16.04). All values from `optional_args` are forwarded from CLI as unicode and they are used directly in drivers. It causes an issue in case of basic port

[2017-02-13 19:55] dbarrosop commented on #180
@XioNoX can we close this one or are we still missing something?

[2017-02-13 20:23] jeremystretch opened #210 "Introduce hardware inventory functionality"
I'm interested in extending NAPALM to include a method for retrieving hardware information from devices. Currently, only the chassis serial number can be read (via `get_facts()`). I'd like to add the ability to return the equivalent of `show chassis hardware` (Junos) or `show inventory` (IOS). Here's an example CLI output for Junos:

[code]

And for IOS:

[code]

The proposed method would be read-

[2017-02-13 20:48] dbarrosop commented on #210
This sounds great to me. Give me a few days to investigate which OC models we need and then I can guide you on how to get it done with the OC framework.

[2017-02-13 21:57] XioNoX commented on #180
All good!

[2017-02-13 21:57] #180 closed

[2017-02-15 18:05] ktbyers opened #212 "Implement file_copy"

[2017-02-15 18:06] ktbyers commented on #212
@itdependsnetworks

[2017-02-15 18:19] ktbyers commented on #212
Definition of methods (work in progress):

I view the higher level operations we want initially is a get_file and a put_file. The long term goal probably being an abstraction that lets you relatively easily do an OS upgrade.

[code]

[2017-02-17 12:11] mirceaulinic opened #214 "New feature: commit confirmed"

[2017-03-01 16:16] tcaiazza opened #216 "Adding function for OSPF"
I help support a largely OSPF network and would like to add `get_ospf_neighbors` and `get_ospf_config`.  I asked on slack if anyone was working on it and didn't hear anyone saying they were.  If this is something other want I can try adding it, with the poc in eos.

[2017-03-01 21:21] kbirkeland opened #217 "Enhance `get_arp_table` and `get_mac_address_table` with filtering arguments"
I have to deal with some rather large ARP tables (>20k), so it would be nice to have some filtering built into the API.

I propose the following arguments for `get_arp_table`:

 * `ip`
 * `mac`
 * `interface`

and the following arguments for `get_mac_address_table`:

 * `mac`
 * `interface`
 * `vlan`

[2017-03-01 22:37] mirceaulinic commented on #217
I am going to approve this request, it makes sense to me. Let's see what @dbarrosop and @ktbyers think about that as well.

[2017-03-01 22:43] mirceaulinic commented on #216
Sure @tcaiazza you can go ahead and submit a PR. Firstly here, in napalm-base, with the feature, doc and tests. Thanks!

[2017-03-01 23:36] ktbyers commented on #217
Yes, I think this is a good idea.

[2017-03-03 08:12] dbarrosop commented on #217
+1

[2017-03-03 08:16] dbarrosop commented on #216
@tcaiazza if you are not in a hurry, I'd suggest waiting a month/month-and-a-half. I am ironing out the OpenConfig framework and it would be great if we could implement OSPF directly within that framework.

[2017-03-03 18:42] tcaiazza commented on #216
@dbarrosop I'm not in a big rush, just looking to automate device upgrades and checkouts and will need support for OSPF to do so.  Also just interested in getting involved in the napalm project.

[2017-03-06 17:19] mirceaulinic opened #218 "Better exceptions"
We will need to create few more exceptions, to avoid as much as possible propagating exceptions from the underlying libraries.

Some examples:

- LockError
- UnlockError
- CommitError
- ConnectAuthError
- ConnectTimeoutError

[2017-03-07 22:41] jeremystretch commented on #210
@dbarrosop Just checking in. Happy to give this a shot on my own if you can't spare the time.

[2017-03-08 08:08] dbarrosop commented on #210
I haven't forgotten about this :) I am almost done but there is a severe lack of documentation on how to use the framework. If you have the energy you can look at this:

https://github.com/napalm-automation/napalm-yang/blob/augment/napalm_yang/mappings/eos/extractors/oc-if/interfaces.yaml
https://github.com/napalm-automation/napalm-yang/blob/augment/napalm_yang/mappings/eos/extractors/oc-ip/ipv4.y

[2017-03-14 18:19] bewing opened #220 "String types in mock driver / unit tests."
I noticed today when comparing output from a real call to the EOSDriver for a new method I was writing to output from the mock driver in napalm base, that the data returned by the mock driver may not be type unicode, when the data returned by the real driver is.

Is has been posited in slack that this may be due to how the strings are read from disk by the mock driver, versus returned from other u

[2017-03-15 07:38] dbarrosop commented on #220
I remember you already posted a suggested solution on slack, is this something you can PR?

[2017-03-15 08:30] dbarrosop commented on #210
@jeremystretch You can start looking at this:

https://github.com/napalm-automation/napalm-yang/blob/augment/interactive_demo/tutorial.ipynb

There are some things to be refactored that will happen soon but you can start playing with the model if you want to take a look. You could do the folllowing:

[code]

And start seeing how to map what you want with that structure. I think the platform model

[2017-03-15 10:49] mirceaulinic opened #221 "Add format argument for load_config methods"

[2017-03-15 11:08] mirceaulinic commented on #221
As per our internal discussing @napalm-automation/council, this may create additional confusion. Junos is the sole driver having this need and we'll try detecting the config format on the fly.

[2017-03-16 08:02] dbarrosop commented on #216
Sorry for the late response, that is great. I will try to compile the OSPF models this weekend and give you some info about it.

[2017-03-16 14:34] ktbyers opened #225 "Create napalm-netmiko middlelayer (discussion)"
Thread from @dbarrosop

if you have the time I'd like to discuss the idea of having a generic `napalm-netmiko` driver, something to allow instant support to devices that are supported by netmiko

the idea would be to have the minimum required to detect the type of device and run commands and make configuration changes, nothing else

the rest of the functionality should come from napalm-yang and pr

[2017-03-16 14:35] ktbyers commented on #225
Add @dbarrosop @mirceaulinic

[2017-03-16 14:44] ktbyers commented on #225
@dbarrosop @mirceaulinic The main value I see it that would allow us to share common code between drivers that use Netmiko.

When you say make configuration changes here--I assume you are referring to making configuration changes using the NAPALM config change API?

[code]

I think we could share code, but implementing the NAPALM Config API would probably have to be in the device specific driver (

[2017-03-16 14:48] dbarrosop commented on #225
@ktbyers I think it should support for any device:

- open
- close
- load_merge_candidate
- discard
- commit
- cli
- _profile (or similar, something that can populate a `profile` attribute with a unique id like)

For certain profiles we could maybe implement other methods. The idea is that this should provide the minimum necessary for `napalm-yang` to work properly as we could do all the heavy lif

[2017-03-16 16:06] ktbyers commented on #225
@dbarrosop

Mapping these to Netmiko
- open       (no issue)
- close       (no issue)
- load_merge_candidate

Netmiko has concept of candidate config in general. It has two config methods `send_config_set` and `send_config_from_file` both of these go and directly enter configuration commands in config mode. The exception to this being the Netmiko Juniper and Netmiko IOS-XR drivers.

- discard

[2017-03-17 07:27] dbarrosop commented on #225
Worst case `load_merge_candidate` could just be an in memory object. Something you can keep making additions, check the state, discard it or just apply it. As we are not aiming the for in box diff here we don't really have to load the candidate into the device.

[2017-03-17 18:34] mirceaulinic commented on #217
Hi @kbirkeland - this API change is approved. I have created the issues for each driver.
As any API change, we must synchronise all drivers and apply the changed concomitantly. Would you be able to help with this?

Thanks!

[2017-03-21 12:28] kbirkeland commented on #217
Yeah, I can help with this, but I don't have access to a VM for all the driver types.  What's the best course of action for those?  Just raise NotImplementedError?

[2017-03-21 12:40] mirceaulinic commented on #217
Hi @kbirkeland - no problem about the platforms you don't have, please contribute as much as you are able to. Thanks!

[2017-03-23 01:58] jeffgallagher opened #227 "Incorrect outer key returned for get_bgp_neighbors_detail()"
According to the documentation both get_bgp_neighbors() and get_bgp_neighbors_detail() should: "Returns a dictionary of dictionaries. The keys for the first dictionary will be the vrf (global if no vrf)." However different values seem to be returned for the outer keys of each calls. (i.e. one is the vrf the other the routing instance?)

get_bgp_neighbors_detail() appears to return a dictionary of

[2017-03-23 11:08] gjim83 opened #228 "Current regexes in convert_uptime_string_seconds ignore "days" in PanOS"
Simple issue. Up time has the following format `114 days, 22:27:32` ("days" is always there, for <24 hours it shows `0 days,`). None of the current regexes capture the whole string.

The above up time was close to the actual one when I called `get_facts()`, and the response was `'uptime': 80847` which as you can tell doesn't take into account the 114 days (plus a few seconds difference as the raw

[2017-03-23 12:04] mirceaulinic commented on #227
Hi @jeffgallagher - thanks for reporting this.

`get_bgp_neighbors_detail` is implemented only in napalm-junos, iosxr and eos. So I will close this in the favor of https://github.com/napalm-automation/napalm-junos/issues/139

[2017-03-23 12:04] #227 closed

[2017-03-23 17:17] ktbyers commented on #228
@gjim83 Nice catch...can you submit a pull-request on this into the NAPALM-panos driver.

[2017-03-23 17:22] gjim83 commented on #228
@ktbyers sure thing, was just waiting on comments. However, `convert_uptime_string_seconds()` is in napalm_base/utils/string_parsers.py as I presume you mean submit the PR here? :)

[2017-03-23 17:38] ktbyers commented on #228
Yep...first screw up today, I am confident more will follow :-)

So the problem I see is that your solution assumes "0 day(s)" is always there and I don't know how universal this is across different platforms.

I don't really like the code we have here as it is fragile.

[code]

We also need to add your case into the unit tests so that it catch this failure.

[2017-03-23 17:53] gjim83 commented on #228
I'm actually `?`-catching the `X days, ` output,
`((?P<days>\d+) day(s)?,\s+)?`
so when the time stamps is just `hh:hh:ss` it'll still get caught.

I agree on the code being a bit brittle however I'm not sure how to make it more stable without knowing all possible formats. E.g. I can tell that PanOS doesn't state weeks or months, but I couldn't find a firewall in our fleet that's been up over a ye

[2017-03-23 17:54] ktbyers commented on #228
I wrote code for parsing uptime strings a while back (where I had a quite a few different uptime strings). Let me look at what I did there.

[2017-03-23 17:55] ktbyers commented on #228
Key thing is the unit tests i.e. that we are feeding enough varied output strings through the unit tests that we properly catch errors (and then expand the unit tests if we missed some).

[2017-03-23 17:56] gjim83 commented on #228
Absolutely. Will start working on them soon and post the PR as soon as I think it's ready.

[2017-03-24 10:35] dbarrosop commented on #210
Just a quick `keepalive`. I am almost done, paperwork (aka docs, testing and cleaning) always takes more than anticipated. You can start looking at the docs if you want (WIP but the parts that are relevant for you are probably all there already):

https://napalm.readthedocs.io/en/yang_doc/YANG/index.html

This weekend I will finish the docs and next week I will start merging and releasing stuff so

[2017-03-24 19:27] ktbyers commented on #228
Fixed here:

https://github.com/napalm-automation/napalm-base/pull/229

[2017-03-24 19:55] #228 closed

[2017-03-27 13:26] jeremystretch commented on #210
Excellent! Thanks for the update. Really hoping to dig into the code and familiarize myself more this week.

[2017-03-29 14:06] sorano opened #231 "Support netmiko telnet device type"
Feature request:
Add support to NAPALM to force and/or failover to netmiko telnet type.

netmiko supports telnet with the telnet device type:
`device['device_type'] = 'cisco_ios_telnet'`

https://github.com/ktbyers/netmiko/issues/159#issuecomment-245977602

[2017-03-29 14:13] sorano commented on #231
oops, opened this in the wrong repo. creating a new issue in napalm-ios.

[2017-03-29 14:13] #231 closed

[2017-03-30 23:22] ktbyers opened #232 "Is load_template code broke if an .egg file is installed"
I was having unit test failures in napalm-ios complaining about ./templates/ directory not existing.

This caused me to dig around some more:

I think is broke...you can't just try to load directly like this when it is an .egg file.

[code]

See discussion about this here:

http://stackoverflow.com/questions/6028000/python-how-to-read-a-static-file-from-inside-a-package

[2017-03-31 20:49] ktbyers commented on #232
More details, this is testing from napalm_ios package.

`python setup.py install` will fail as an .egg is installed. The templates/*.j2 files are inside the egg, but they can't be read.

I tried to use `zip_safe=False` in the setup.py file, but this did not change the behavior of `python setup.py install`. I could not find an answer on why this didn't work.

`pip install napalm-ios` worked as full

[2017-03-31 20:49] #232 closed

[2017-04-01 15:26] dbarrosop commented on #232
Yes, that's a known issue. I don't remember the details but @mirceaulinic and I looked into it and got to the same conclusion you got. That's why the only "supported" install method is pip (you can use `pip install -e .` to install from source like `python setup.py install`)

[2017-04-01 16:05] ktbyers commented on #232
@dbarrosop It is probably prudent to add the following to setup.py.

[code]

I think this will make it much less likely that a future version of PIP installs an egg (at least that was the best I could determine).

[2017-04-10 07:36] dbarrosop commented on #210
Ok, this is all out, documentation, libraries, etc... You can find a quick summary here:

https://www.dravetech.com/blog/2017/04/09/napalm-yang.html

Note that @bewing is also working on this. Turns out that the components model is a nightmare but we are discussing how to address it here:

https://github.com/napalm-automation/napalm-yang/issues/39

[2017-04-10 07:49] dbarrosop commented on #216
@tcaiazza took some time but all the pieces are in place now. You can find a summary of resources for `napalm-yang` here:

https://www.dravetech.com/blog/2017/04/09/napalm-yang.html

The ospf model is inside the `network_instance`. For example:

[code]

Feel free to ping me on slack if/when you start working on this and I will give you a hand getting started.

[2017-04-16 07:33] dbarrosop opened #237 "`get_optics` change "infinity" value"

[2017-04-16 07:58] dbarrosop opened #238 "Fix `get_route_to` or fix tests"
The `get_route_to` method is a tricky one as the `protocol` argument is not thoroughly tested and might lead to differences in terms of support across different drivers. For example, a driver could support `static` and `bgp` while another might support only `static`.

Proposed solutions:

1. `get_route_to` only lives in `napalm-base` and calls for `get_route_to_static`, `get_route_to_bgp`, etc...

[2017-04-17 18:13] tcaiazza commented on #216
@dbarrosop Thanks I'll take a look later this week, was out last week.  From the looks of it, I would have to write the translator and profile pieces in the napalm-yang repo, is that correct?

[2017-04-18 07:42] dbarrosop commented on #216
Yes, that is correct, ping me on slack if you get stuck as I might need to help you there to get you started (not much documentation yet). Also, I am writing a tool to generate a skeleton for the profiles automatically but it's not finished yet. Will try to finish this week, otherwise, you are going to hate me as the network-instance model is insanely large.

[2017-04-20 08:04] mirceaulinic commented on #238
I have commented under https://github.com/napalm-automation/napalm-base/pull/233#issuecomment-295618802 -- I don't see this as a sane solution.

[2017-04-21 06:58] dbarrosop commented on #238
(answering to your comment here instead of on the other thread)

Nobody wants to remove anything, just move it around.

Easy to answer that and I will just refer to the code:

https://github.com/napalm-automation/napalm-eos/blob/develop/napalm_eos/eos.py#L1054

Protocol is a switch to go to a branch of the code that contains ~100 lines of code. Adding a new protocol implies branching again and exe

[2017-04-21 08:36] mirceaulinic commented on #238
Thanks for expanding on this @dbarrosop - indeed, I misread the comments above, apologies.

Makes sense to me, however it may take longer to get this done :)

[2017-04-21 09:06] dbarrosop commented on #238
Agreed, but hopefully things will be easier in the future so we may save time in the long run.

[2017-04-21 16:05] jedelman8 opened #240 "update napalm ping response keys"
Reference: https://github.com/napalm-automation/napalm-ansible/pull/53

 one thing I'm thinking about within the ansible module and @dbarrosop sugessted maybe we just update the `ping` method within NAPALM so we can keep the ansible module a wrapper.

Normalizing the key used regardless if success or error.

Today it's this:

[code]
I'd rather see a status key that has success or error as values.

[2017-04-21 16:11] mirceaulinic commented on #240
I would just say to wait till OC will provide the models for action commands and provide a proper implementation. These methods have been designed improperly from the beginning and I think we'd only continue on the same line doing so.

[2017-04-21 16:23] jedelman8 commented on #240
Fair enough if that's the consensus...module works and my use-case has been accomplished...so for now, it'll remain a custom module!

[2017-04-30 10:31] dbarrosop commented on #240
@mirceaulinic are there any OC models for actions that you know of? I haven't seen them (haven't looked for them either)

[2017-04-30 10:44] mirceaulinic commented on #240
Currently there aren't any models available yet, but there will be something in the public repo soon-ish :-)

[2017-05-13 16:59] dbarrosop commented on #240
Something tells me the model is going to be even messier than the platforms model...

[2017-05-26 13:41] udaltsov-dm opened #245 "On Juniper EX switches doesn't work retrieving of mac addresses with net.mac"
The code is crashing with traceback:
asw04-2:
    ----------
    comment:
        Cannot execute "get_mac_address_table" on 44.44.44.44 as admin. Reason: failed to detect EUI version: u'*'!
    out:
        ----------
    result:
        False
    traceback:
        Traceback (most recent call last):
          File "/var/cache/salt/minion/extmods/proxy/napalm.py", line 294, in call
            out

[2017-05-26 22:02] ktbyers commented on #245
I think it is probably more logical to fix this issue in napalm-junos.

The `mac` function has a pretty delimited purpose i.e. standardizing the mac-address format (converting dot-format to standardized aa:bb...format).

This issue is more of a post processing issue on Juniper.

[2017-05-27 10:59] dbarrosop commented on #216
@tcaiazza what's the status of this one? Is this something you still need or that you are working on?

[2017-05-27 11:00] dbarrosop commented on #210
What's the state of this? Is this something you still need or that you are working on?

[2017-05-27 12:51] dbarrosop commented on #245
What is the purpose of that `*`?  Could you show an example? To me, getting the mac address table and getting a wildcard sounds weird. If it's UUF we should just filter that out and don't return it.

[2017-05-28 21:14] mirceaulinic commented on #245
@udaltsov-dm if you have any examples, please paste here. I have mixed feelings if this should be here (i.e. we consider that '*' means 'FF:FF:FF:FF:FF:FF' on all platforms) or under napalm-junos if that's juniper specific thing (although I didn't see anything like that previously).

[2017-05-28 21:16] mirceaulinic commented on #172
Too complicated to implement.

[2017-05-28 21:16] #172 closed

[2017-05-29 08:39] udaltsov-dm commented on #245
@mirceaulinic juniper switches use * to indicate flooding capabilities for some vlan.
Here are the example from junos ex 3300:
ex-switch> show ethernet-switching table | match All
  Anl               *                 Flood          - All-members
  App               *                 Flood          - All-members
  Bulk-DATA         *                 Flood          - All-members
  DB

[2017-05-29 13:09] dbarrosop commented on #245
Yes, I think we should filter that out. Doesn't make much sense IMHO.

[2017-05-29 13:30] udaltsov-dm commented on #245
@dbarrosop should i create a separate ticket for napalm-junos?
there only 2 strokes of code should be added in get_mac_address_table function.
` mac = mac_entry.get('mac')
            **if mac == u'*':
                 continue**`

[2017-05-29 18:10] dbarrosop commented on #245
yes, you can send a PR if you prefer. You seem to know what needs to be done :)

[2017-05-30 13:39] jeremystretch commented on #210
@dbarrosop Sorry, NetBox has been sucking up all my dev time lately. I've been following what @bewing has been working on though. How crucial is it that we utilize the OpenConfig platform model for inventory data in the first place, given that it's essentially arbitrary?

[2017-05-30 19:24] tcaiazza commented on #216
Sorry I haven't had a chance to work on this at all yet.  I still need it
but I'm not in a rush for it.

On Sat, May 27, 2017 at 6:59 AM, David Barroso <notifications@github.com>
wrote:

[2017-05-31 07:10] dbarrosop commented on #210
I think it makes sense to use the OC models even if use a regular getter. It doesn't make sense to bother reinventing the wheel and it will help migrating code to `napalm-yang` later on. If the model doesn't make sense at all we should bring it to the OC group.

[2017-05-31 07:22] dbarrosop commented on #174
Remind me, what is `next_hop_type`?

[2017-05-31 08:38] mirceaulinic commented on #174
As the name states, it is the type of the next hop. E.g. NULL routes have the next hop type "discard". Also, the type of the next hop can be an interface etc.

[2017-05-31 14:00] mirceaulinic commented on #218
Solved under https://github.com/napalm-automation/napalm-base/pull/248, but leaving this open for future ideas.

[2017-05-31 14:01] mirceaulinic commented on #245
@udaltsov-dm I am closing this, please submit the PR to napalm-junos at your will. Thanks!

[2017-05-31 14:01] #245 closed

[2017-05-31 14:03] mirceaulinic commented on #189
@alias454 do you still have the same issue with the latest releases? Please upgrade everything (`pip install -U napalm-ios` should be enough) and re-check.

[2017-05-31 19:36] icmp-echo commented on #217
@mirceaulinic I have simple question Sir, if I wanna pull get_vlan just like get_interfaces or get_arp_table,

how do i do that? where can i create or modify an existing call to do so?

Again I cant thank you enough for the Napalm and much more awesome things we have here today.

[2017-06-01 11:56] alias454 commented on #189
@mirceaulinic Thanks for following up. I will check this as soon as I can and let you know.

[2017-06-01 13:40] icmp-echo opened #252 "Adding functions for get_vlans and get_interface_descriptions()"
So today there are the following methods in napalm-base

get_arp_table ()
get_mac_address_table()
get_interfaces_ip()
get_interfaces_counters()
get_interfaces()

As a network operations center and as an engineer I  heavily rely on basic information of vlans and interface description find the right port or right unit, and could use similar functionality.  So my proposal is to add:

get_vlans()
get_

[2017-06-01 17:18] ccompain opened #254 "Error [1002]: CLI command 31 of 59 'ip route 0.0.0.0/0 10.0.2.2' failed: invalid command [incomplete token (at token 0: 'ip')]"
Hi,

I'm trying to push some basic CLI file to vEOS VM. But I encounter some issue regarding key work like "ip routing" or "ip route ..."

Please find below the trace.

`~/vEOS/napalm$ cl_napalm_configure --user ccompain --password arista --vendor eos -o 'port=4431' --dry-run 127.0.0.1 ./evpn/evpn-edge-1.cli`
`Traceback (most recent call last):`
`  File "/usr/local/bin/cl_napalm_configure", line 1

[2017-06-01 17:27] ktbyers commented on #254
@ccompain Do you have to do 'ip routing' first?

[2017-06-01 17:41] ccompain commented on #254
@ktbyers

I did the following :
 - remove totally `ip routing` + `ip route 0.0.0.0/0 10.0.2.2` on the veos
 - apply the CLI config. file with :
`ip routing`
`ip route 0.0.0.0/0 10.0.2.2`
=> same error :

~/vEOS/napalm$ cl_napalm_configure --user ccompain --password arista --vendor eos -o 'port=4431' --dry-run 127.0.0.1 ./evpn/evpn-edge-1.cli
Traceback (most recent call last):
  File "/usr/local/bi

[2017-06-01 18:08] ktbyers commented on #254
That worked for me when I tried it on vEOS (your above command and .cli file).

What happens when you manually SSH in and do the following?

[code]

[2017-06-01 18:25] ccompain commented on #254
working.

[2017-06-01 18:40] ktbyers commented on #254
So it works if you do it manually?

What version of vEOS is it?

[2017-06-01 19:01] ccompain commented on #254
Correct : if I use a "session" (as you proposed previously) directly on the switch, no problem.

Let me add just some elements :
- I used a simple code with is doing a get_config(retrieve='running') to backup the configure in a text file => working perfectly
- I tried to push the backup config. for "restoring" based on the text file generated before => I have the issue (Error[1002])

For the versi

[2017-06-01 19:29] ktbyers commented on #254
What if you use --strategy merge?

[code]

[2017-06-01 19:35] ccompain commented on #254
Same behavior :
napalm_base.exceptions.MergeConfigException: Error [1002]: CLI command 32 of 60 'ip route 0.0.0.0/0 10.0.2.2' failed: invalid command [incomplete token (at token 0: 'ip')]

The error message seems to tell say that the command is not valid in the CLI file ... Right ?

FYI, I use :
napalm (1.2.0)
napalm-base (0.24.0)
napalm-eos (0.5.6)

[2017-06-01 19:41] ktbyers commented on #254
@ccompain Yes, it seems to be complaining about that command arriving via the API (ip route 0.0.0.0/0...), but I am not seeing what is different between you and I.

Nor why when we do it manually via SSH we don't see an issue...

Is that your entire CLI file (i.e. can post the entire contents of ./evpn/evpn-edge-1.cli) or simplify the .cli file so it only has those 'ip' commands.

[2017-06-01 19:46] ccompain commented on #254
Humm, I did the following test :
 - I didn't use the full CLI file (backup of the conf)
 - I used a small cli with just :
[code]
And it is working :
[code]

[2017-06-01 19:48] ktbyers commented on #254
@ccompain Okay, that makes me think there is something else in that .cli file that is messing it up.

What comes right before the `ip route` changes in the .cli file?

[2017-06-01 19:54] ccompain commented on #254
Here is the dump corresponding to the backup I did with the get_config :

[code]

[2017-06-01 20:03] ktbyers commented on #254
Do you see any issue if you try to manually do this? I didn't see an issue...

[code]

[2017-06-01 20:07] ccompain commented on #254
No issue on my side. The CLI is Ok.

[2017-06-01 20:19] ktbyers commented on #254
It works for me if I add an extra 'exit'

[code]

I suspect the API thinks it is trying to add the 'ip route' into the Vxlan1 context (sounds like maybe an Arista bug).

[2017-06-01 20:30] ccompain commented on #254
I added the extra `exit` in the `interface Vxlan1` section => no more error.
Well done ! @ktbyers you found the workaround !

I don't think if it should be considered as a bug because there is no `exit` in the `bgp` section for example (which is by the way much more complex).

Any idee ?

[2017-06-01 20:40] ktbyers commented on #254
It is coming from Arista when using the API. We are feeding it the config and Arista's API is saying it is not valid.

[2017-06-01 20:50] ccompain commented on #254
Verified.

I tested this thru the api explorer :
- OK :
[code]
- NOT OK:
[code]

[2017-06-01 20:53] #254 closed

[2017-06-03 08:44] dbarrosop commented on #174
To me it seems we are encoding arbitrary information but maybe I am misunderstanding it.

Examples from different platforms?

Is the type "interface" or an interface? If it's the latter this is clearly the wrong construct. "Ethernet1" is not a type, it's an interface.

To me it seems more natural to have `next_hop_interface` and `next_hop`. So I can do:

[code]

[2017-06-03 09:17] dbarrosop commented on #252
Hi,
regarding `get_interfaces_description`, do you see something here that might be missing on `get_interfaces`? You should have the description there already.

Regarding `get_vlan`, I'd propose a method that returns an openconfig-like object:

[code]

It's not the nicest model but it's similar to how OC looks like and will allow us to reuse code for `napalm-yang`. Thoughts?

@mirceaulinic ^

[2017-06-03 09:23] dbarrosop commented on #254
@ccompain sorry for late response but the reason is that the eAPI is very strict and doesn't expand commands and doesn't changes configuration context by itself. The rule is relaxed if you are using a configuration session I think but mainly because then you can get a diff and validate changes before committing.

[2017-06-03 11:17] mirceaulinic commented on #252
Sounds good to me. Maybe we can even start writing a parser & translator pair directly under `napalm-yang` and use it? I see @dbarrosop already wrote something (https://github.com/napalm-automation/napalm-yang/blob/develop/napalm_yang/mappings/junos/translators/openconfig-vlan/vlan.yaml) and we can easily access them through napalm.

[2017-06-03 11:22] dbarrosop commented on #252
If we want to do that (which I think it's a great idea) I'd suggest abstracting `napalm-yang` from the driver. Meaning the user still uses `get_vlans` but then napalm-yang is called under the hoods. The reason is that I still want to be able to change `napalm-yang`'s API if we decide so.

So what I'd suggest for this then would be to implement `get_oc_interfaces` and `get_oc_vlans` which happens t

[2017-06-03 11:24] mirceaulinic commented on #174
Indeed, having more specific names rather than a generic `next_hop_type` would be more intuitive.
Let me think a bit about other types of fields, so if we are applying this API change right now we can introduce few more fields that have explicit `next_hop_<type>: <name of the next hope type>`.

But how would you represent: `next_hop_interface: null` vs. `next_hop_interface: None` and distinguish b

[2017-06-03 11:51] dbarrosop commented on #174
I don't think having a field `null_route` is necessary as that's a use case of a particular configuration.

Sorry, the "data" on my previous comment had a "bug". `null` is not really an object but the string `"null"`.

[2017-06-06 14:56] icmp-echo opened #260 "Salt Grains for matching port descriptions and configuration on top of it"
Creating a new issue to follow up with issue #197

salt -G 'os:junos and interface:fe-0/0/5' grains.get description

[2017-06-06 15:15] icmp-echo commented on #260
response from @mirceaulinic

salt -G 'os:junos and interface:fe-0/0/5' selects those devices running Junos and having the interface fe-0/0/5. The grains are used to select minions, not a particular feature / subset / subsystem.

I see what you are trying to achieve @icmp-echo. Searching for a particular detail indeed is very useful in production networks especially when it grows that much that you

[2017-06-07 02:56] bewing opened #262 "Devices with no LLDP neighbors fail unit tests"
When testing devices without the mock driver, if no LLDP neighbors exist, unit tests fail, as it is expected that the LLDP neighbor count is greater than 0.  It is possible for a device to have zero LLDP neighbors.

[2017-06-07 03:12] bewing commented on #262
Both get_lldp_neighbors() and get_lldp_neighbors_detail() fail.

[2017-06-07 23:58] bewing commented on #210
FYI, there's code now (napalm-automation/napalm-eos#165), I just need to write tests.

[2017-06-08 07:52] dbarrosop commented on #262
Yes, that's done on purpose to avoid rigging the tests but that shouldn't be a big deal, is it? The method should work regardless, this is just for the test. Have you encountered some problem because of this? We could remove the assertion, that's fine.

[2017-06-08 12:30] ddevalco commented on #252
Curious if what is being proposed here would provide the sort of data I'm looking for myself.  I've been looking for ways provide a tool for others that can check switches for a vlan and what ports have it enabled.  For instance on Cisco the basics of the "show vlan id xxxx":

[code]
Haven't starting using Napalm yet, it's on the list, and if this is the sort of data one could extract efficiently

[2017-06-08 13:01] dbarrosop commented on #252
Well, the model is described here:

https://github.com/napalm-automation/napalm-base/issues/252#issuecomment-305963170

The code is not there yet though.

[2017-06-09 10:47] jemcek commented on #240
Are there any news regarding this issue?

Currently I get completely different answers from the same unreachable destination using Junos and IOS what makes further processing more complicated. Also is the "probes_sent":0 and "packet_loss": -2 on IOS expected result in case 2 echo request were sent and no reply was received?

IOS:
"item": "4.4.4.4",
"results": {
        "success": {
            "pa

[2017-06-11 10:42] dbarrosop commented on #252
#264 integrates napalm-yang into the drivers which means we will only need to implement the parsers/translators and get all the napalm-yang goodies.

[2017-06-15 07:11] dbarrosop commented on #240
@jemcek would you mind opening an issue on `napalm-ios`. Looks like the output returned by IOS is not compliant with the model we specified so we need to fix that. Thanks!

@mirceaulinic do you have any news about the "action" model?

[2017-06-15 07:52] jemcek commented on #240
done.

[2017-06-15 08:29] mirceaulinic commented on #240
No, I don't have any news yet. I guess is going to take longer than I thought...

[2017-06-20 13:21] zhecho opened #265 "Extending napalm with SSH proxy support."
Using napalm via ssh proxy. Suppose that we want to use napalm but we have jump station (for security/other reasons) with ssh server on it before accessing network devices.

Do you think that the following ssh_config_proxy is ok?  or we need to implement some other way to do this? (note: ssh-agent should be up and running with loaded key for the jump station in order to use this config file)

Host

[2017-06-20 16:26] ktbyers commented on #265
@zhecho This should already exist for Netmiko-based SSH NAPALM drivers.

You will need to use optional_args dictionary to provide all of the additional Netmiko arguments. In other words:

[code]

Where all the key/values you specify are the additional needed Netmiko arguments.

Let me know if this doesn't work.

[2017-06-22 02:46] bewing commented on #262
I've only encounted problems when running unit tests without the mock driver -- IE, when running against a VM with no LLDP neighbors, or against a device with no LLDP neighbors.  It's not really major enough to make me mad, though.  Was just interested if there was a way to work around.

[2017-06-22 02:46] #262 closed

[2017-06-26 06:49] dbarrosop commented on #252
@icmp-echo what platforms would you need for the `get_vlans` method?

[2017-06-26 07:53] dbarrosop commented on #262
Oh, ok. Misunderstood you. In that case I think we could have a `IGNORE_EMPTY` envvar we can set to deliberately avoid failing on empty data.

[2017-06-29 15:25] icmp-echo commented on #252
@dbarrosop cisco and juniper, please

[2017-06-29 21:27] icmp-echo commented on #260
@mirceaulinic  Hey sir, when salt nitrogen will get released? and how to install net.find runner ?

[2017-06-30 08:51] mirceaulinic commented on #260
@icmp-echo I don't know exactly when Salt Nitrogen will be released - it has been tagged as `2017.7` so it is previewed for July, but it can get delayes if the core teams decides it is not stable.

The net.find runner will available in the Nitrogen package; you don't need to install it, but only to activate it (read the docs: https://docs.saltstack.com/en/develop/ref/runners/all/salt.runners.net.h

[2017-06-30 08:52] #260 closed

[2017-06-30 23:25] ipv6freely opened #267 "is_alive() function in base.py is throwing an AttributeError even before open() is called"
Im getting an AttributeError exception in the is_alive() function that is used for garbage collection in napalm-base 0.24.1.

**Code:**
[code]

**Output:**
[code]

[2017-06-30 23:49] ipv6freely commented on #267
I just submitted a pull request with an easy fix.

[2017-07-01 08:22] dbarrosop commented on #252
Ok, will implement at least one of them. However, it might not be released for a while while we iron some details with pyangbind and py3 support.

[2017-07-01 16:23] ipv6freely commented on #267
Re-submitted with an exception handler catching all.

[2017-07-01 17:41] #267 closed

[2017-07-05 16:46] mirceaulinic opened #272 "Make NAPALM more verbose"
Discussed privately, it would be nice to have at least a minimalist logging, in order to ease the debugging process.

[2017-07-06 07:17] dbarrosop opened #273 "Refactor base driver"
This is something that I have been thinking for some time and now #272 gave me a reason to actually try to sell it.

The idea would be to do instead of what we do today do something like this:

[code]

Used the logging example from #272 but this could help us implement workflows more consistently across platforms. Something like:

[code]

Completely made up in case it wasn't obvious but the idea i

[2017-07-06 07:20] dbarrosop commented on #273
ping @ktbyers @mirceaulinic

[2017-07-06 07:20] dbarrosop commented on #272
I agree, opened #273 as I think it's a dependency if we want to do it consistently.

[2017-07-06 18:53] ktbyers commented on #273
Yes, I don't really like either pattern.

We are starting to get a lot of indirection in our code _wrapper, _open, et cetera. Which makes reading the code/understanding the code overly hard (for sometimes minimal reductions in number of lines of code).

I wonder if there is some other pattern we could start to use more of like decorators (or some other pattern that is better).

I probably need a b

[2017-07-07 00:19] mirceaulinic commented on #273
At a glance, I don't really like it either.

I'm echoing Kirk's argument from above:

David:
I'm not sure this can be really applicable (everywhere)... meaning that logging might be very driver-specific. And I'm thinking also as a way to log not only errors but also simple information at DEBUG/INFO level.

[2017-07-07 08:17] dbarrosop commented on #273
It's just another way of implementing the "adapter pattern". The advantage over decorators is that decorators need to be defined explicitly while this is controlled from the parent class and the adapters only have to implement the "napalm protocol/interface". It's no different from how other protocols work so you can make a class behave like a dictionary, provide a context manager, etc... but inst

[2017-07-07 09:31] mirceaulinic commented on #273
Not sure a constraint like that would be a great idea.

Anyway, I see what you mean, but overall I tend to believe this aims way too far just for logging. I think it adds an unnecessary level of indirection. I was thinking about something very simple:

I will take for example a random not-very-long method from napalm-ios.

Currently implemented like:
[code]

I would add just a couple of debug logs

[2017-07-07 10:31] dbarrosop commented on #273
It's not just for logging. It's about controlling the workflow and only requiring the drivers to implement smaller primitives. Primitives that do only one single thing so the flow can be controlled elsewhere. We are talking about logging now because it was the trigger of the conversation but imagine for a second we were using the `get_bgp_neighbors` method of my previous message and now we wanted

[2017-07-09 01:58] sincerywaing commented on #174
I recently got a similar use case so circirling back on this one. I mean for junos it's fine we can use key to filter table name if we want specific vrf. But for ios it seems we don't even have this api imported. Any reason? Also for ios, we most use vrf kw or we won't get table in specific vrf. adding @ktbyers to further comment.

[2017-07-09 13:42] dbarrosop commented on #252
@icmp-echo could you be more specific? cisco and juniper have at least 10 different ways of configuring vlans depending on platform, phase of the moon and mood of the developer :) It would be great if you could provide platform, operating system and even snippets of valid configuration :)

Thanks!

[2017-07-09 20:38] mirceaulinic commented on #174
Sorry, I dropped the ball here, I will try to revisit this issue during the week of 17th.

Yes, the reasoning is that nobody submitted any code to add this method. I know you have the skills required, so please go ahead and provide an implementation, if you're willing to @sincerywaing :-)

[2017-07-10 02:51] sincerywaing commented on #174
I guess the difficult part for ios is that you need parse everything!@mirceaulinic I'll start looking into this :)

[2017-07-10 09:37] sincerywaing commented on #174
I spent some time looking into this and found it is really complicated to list every attribute for ios -

e.g. no interface shown here

[code]
I can use a very simple way to put protocol, next hop, metric, distance here:

[code]

            * protocol (string) - Supported
            * current_active (True/False) - N/A
            * last_active (True/False)  - N/A
            * age (int) - suppor

[2017-07-10 14:31] sincerywaing commented on #174
so a better implementation would be separate the output to two parts -

Part I start from beginning to 'last update' to parse protocol, distance, metric, routing_table;

Part II strat from 'Routing descriptor blocks' to the end to return a list of dict including next_hop, age and protocol_spec arguments.

Thoughts?

[2017-07-17 05:37] ogenstad opened #283 "Travis test times"
I was looking at the Travis builds yesterday and thought that it took quite some time. A lot of time was spent just to prepare the environment.

A thought I had was to look at all of the required libraries which needs to be compiled in order to be installed. Some of them can probably be installed as pre-compiled binaries with apt-get. And then build the virtualenvs to include site-packages. Not re

[2017-07-17 06:03] ktbyers commented on #283
This hasn't been important to me (i.e. from my perspective they run fast enough).

[2017-07-18 02:17] bewing commented on #283
I think one of the most important parts of tox is that it actually checks that the package installs cleanly, and then passes tests.  Bypassing requirements.txt defeats this.  While I won't argue in the future a "quick" testsuite might not have a purpose, I would still want full tox testing on release merges.

[2017-07-22 07:33] dbarrosop commented on #174
@mirceaulinic what's your take on this? I think doing backwards compatible changes like the one you suggested is fine but I don't think we should do backwards incompatible changes as @sincerywaing is suggesting.

I am not suggesting his changes don't make sense (which they might) but I think that if we are planning to make backwards incompatible changes we should:

1. Use a model from the openconf

[2017-07-22 21:58] mirceaulinic commented on #174
This is a sound idea, but I wasn't able to identify if there's any model available yet for the routes state. But sure, that's the long term solid solution.

For the short term, give that the method already exists, and @sincerywaing's question is specifically about IOS, we can implement this one easily.
I have two comments: we should fill in the fields as much as possible. If the information is not

[2017-07-25 06:17] dbarrosop commented on #283
I agree with bewing. Travis should be a clean env and as generic as possible. At the end of the day, you should push your code after testing locally and ensuring everything is working fine ;)

I am closing this issue as I don't think we should fix it. I wouldn't mind revisiting the testing suite though after the merge.

[2017-07-25 06:17] #283 closed

[2017-07-25 06:23] dbarrosop commented on #174
Ok, somehow I misunderstood @sincerywaing and I thought he was suggesting changing the current model.

[2017-07-31 14:22] BullfroG21 opened #286 "Barracuda API extension"
Hi,

Are there any future plans of implementing a feature for the Barracuda API.

with kind regards

[2017-07-31 15:26] ktbyers commented on #286
@BullfroG21 Additional NAPALM drivers are driven by individuals who want to add support for that platform.

So if you want this for Barracuda, you would probably need to add it.

There are also some requirements that the platform would have to meet (as we try to maintain a fairly consistent NAPALM interface).

[2017-07-31 22:15] #265 closed

[2017-07-31 22:22] ktbyers opened #287 "napalm_validate fails for strings containing regular expression characters"
I was doing some testing and I had this string for the os_version returned by get_facts:

"C880 Software (C880DATA-UNIVERSALK9-M), Version 15.4(2)T1, RELEASE SOFTWARE (fc3)"

It would fail the validation even though I had an exact string match specified. Digging into it shows we have a bug here:

https://github.com/napalm-automation/napalm-base/blob/develop/napalm_base/validate.py#L132

We use the

[2017-08-01 07:42] dbarrosop commented on #286
Regarding the requirements, we will try to post something in the near future as we don't have them yet "formalized".

Is this driver something you will working on?

[2017-08-01 07:46] dbarrosop commented on #287
I'd treat that as a regular expression. Otherwise we are going to go down the rabbit hole quite quickly. Maybe we need to make better emphasis on the documentation.

[2017-08-01 16:48] ktbyers commented on #287
Proposed fix for this:

https://github.com/napalm-automation/napalm-base/pull/288

Try regex first and if that fails, test string equality.

[2017-08-02 07:10] dbarrosop commented on #287
Fixed by #288

[2017-08-02 07:10] #287 closed

[2017-08-02 20:33] bdlamprecht opened #290 "Enchance validate to display a "wanted / found" section"
Currently, in the validate section, it can be difficult to see differences between what is desired and that is the actual value.

This is to request some type of `requested_value` in addition to the existing `actual_value` in the `compliance_report`.

For example (using the Ansible `napalm_validate` module):
[code]

[2017-08-08 07:38] bholmgren opened #297 "Context manager not raising exception but simply returns False"
In the commit dbddbbbbe422ebbe66e995f06518d2a701a5cb3c the context manager was broken and no longer raises an exception in case of failure opening a connection to the device. Instead it returns False which effectively means I have to check for False and make up my own exception. This is not very useful.

[code]

I would expect this to raise the exception

[2017-08-08 09:05] itdependsnetworks opened #298 "Discussion: Save commands sent"
I think there should be a standard method for calling commands, e.g. `napalm_get_command`. Any driver should call that method when initiating a command on a device. This would set up the next step were you would be able to define a path to save the commands.

I think @dbarrosop had an even more abstract idea, so that it could further help with mock_drivers, but I am sure my explanation would butch

[2017-08-08 09:07] itdependsnetworks commented on #298
Just went to PR's and saw @dbarrosop already adding :)

[2017-08-08 09:07] #298 closed

[2017-08-08 19:34] bewing commented on #297
Behavior at e72c522c60530fcedd4dc47b66d7a566c828852f:
[code]

[2017-08-08 21:15] bewing commented on #297
This appears to be an issue only in python2.7:
[code]
[code]

[2017-08-08 21:16] dbarrosop commented on #297
The context manager has to return `False` when an exception occurred and it wasn't recovered:

http://effbot.org/zone/python-with-statement.htm

There might be some other issue though.

[2017-08-08 21:26] dbarrosop commented on #297
Ok, you were right, looks like that commit returned False in `__enter__` by mistake. `False` has to be returned only on `__exit__`.

[2017-08-08 21:27] dbarrosop commented on #297
Could you test #299, please?

[2017-08-08 21:45] dbarrosop commented on #297
To make it more interesting looks like previous implementation was actually good for `py3`. I guess that's where the confusion originally came from... So standby until we get this fixed correctly for both `py2` and `py3`.

[2017-08-08 22:04] bholmgren commented on #297
#299 does work now in py2.

Perhaps avoiding directly returning the value from __raise_clean_exception() and be explicit with the return values in __enter__() and __exit__() is advisable. Returning values from functions with callers of different needs can be risky as a change to satisfy one of the callers may have an impact on the other.
I guess what I mean is I'd suggest not returning anything fr

[2017-08-10 08:52] dbarrosop commented on #297
Solved via #299

[2017-08-10 08:52] #297 closed

[2017-08-13 08:35] dbarrosop commented on #286
Closing, feel free to keep the discussion going though.

[2017-08-13 08:35] #286 closed

[2017-08-13 08:45] dbarrosop commented on #252
I implemented this for EOS because I don't know which flavor of IOS/Junos people wanted. You can see the results here:

https://github.com/napalm-automation/napalm-yang/blob/develop/test/integration/test_profiles/eos/openconfig-interfaces/config/l2_ports/expected.json
https://github.com/napalm-automation/napalm-yang/blob/develop/test/integration/test_profiles/eos/openconfig-vlan/config/default/exp

[2017-08-27 21:38] ktbyers opened #304 "Unify to use a /10 for link-local IPv6 addresses and get_interfaces_ip"
Fix after the merge.

[2017-09-20 14:54] pierky opened #309 "napalm --optional_args, ValueError: malformed string"
Hello,

I'm getting "ValueError: malformed string" when using `--optional_args` to connect to a device via telnet.
I'm using the develop branches of both napalm-base (e21f10f5f26b02d15ed0e73fe4e6476638d991e7) and napalm-ios.

I can make it work by removing the `ast.literal_eval()` call here: https://github.com/napalm-automation/napalm-base/blob/e21f10f5f26b02d15ed0e73fe4e6476638d991e7/napalm_base/

[2017-09-20 15:08] dbarrosop commented on #309
Interesting... Could you send a PR, please?

[2017-09-20 15:37] pierky commented on #309
Done #310

[2017-10-07 15:13] ktbyers opened #315 "ping() method implementation is inconsistent"
This is definition of the ping() method in napalm-base:

[code]

napalm-ios, napalm-nxos (SSH), napalm-eos are not implemented this way on the error case.

Also I don't think it is the right data structure. I propose we change it to the following:

[code]

We also should clearly define what 'error' means i.e. all probes dropped; one probe dropped, complete failure to ping (like a DNS failure).

[2017-10-09 09:37] mirceaulinic commented on #315
Yes, I agree on the structure you propose @ktbyers. I think we should start discussing where the merged napalm will be hosted, open issues for the wishlist, and solve them after the merge. This one certainly is one of the things we should solve in a later version, with much advance notification.

[2017-10-09 17:27] ktbyers commented on #315
Since the current data structure is totally inconsistent between platforms...the advance notification probably shouldn't be that long (as it is already totally messed up).

[2017-10-26 23:43] madhurabhogate commented on #238
I had an issue if the route installed was through ibgp then it used to error out as -

line 1071, in get_route_to
    remote_as = int(as_path.split()[-1])
IndexError: list index out of range

[2018-01-22 12:51] lboue commented on #252
Hello,

I managed to get close to the expected result for IOSDriver with a [template here](https://github.com/networktocode/ntc-templates/issues/175#issuecomment-359408881). But I still have to split the PORTS rows in an external script. For exemple:
`['Fa0/1, Fa0/2, Fa0/3, Fa0/4, Fa0/5, Fa0/6, Fa0/7, Fa0/8, Fa0/9', 'Fa0/10, Fa0/11, Fa0/12']]`

I think this can be done in a new method in the [IOSD

[2018-01-23 08:43] dbarrosop commented on #252
I am not sure what the question is :)

In any case, this discussion should be moved to the napalm repo as this one is deprecated.

Closing.

[2018-01-23 08:43] #252 closed

[2018-04-30 11:53] #84 closed

[2018-07-19 17:02] cgb commented on #189
Suggesting this be closed "no response from user"

[2018-07-19 17:15] #189 closed

[2018-08-30 16:42] dlasher commented on #210
Did this ever make it live?

[2018-09-03 12:16] dbarrosop commented on #210
This repo is deprecated. Head to main napalm repo.

[2018-09-03 12:16] #210 closed

[2019-02-06 21:01] ctopher78 commented on #309
Just in case anyone else hits this error while running the napalm cli.  There is a simple fix - optional args that are of a string value _must be_ quoted:

This will throw an exception:
[code]
This will work:
[code]
Notice that `spine_ssh_config` is quoted.

As @pierky pointed out, this is related to `ast.literal_eval()`.  Specifically, the `literal_eval` function is expecting a string that `only

[2019-02-06 21:53] ktbyers commented on #309
@ctopher78 FYI, this repository is deprecated. If you have issues or updates, you should make those against the main napalm repository.

https://github.com/napalm-automation/napalm

[2019-02-06 22:03] ctopher78 commented on #309
Thanks @ktbyers.  I'll see if this issue exists in that repo and submit a PR.